<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--	layout:decorate="~{layouts/new_default_layout}">-->




<div layout:fragment="content">

	<main id="main" class="main">

		<div class="contentCard">

			<div class="searchSearchWrap">
				<div class="searchTitle1">검색어</div>
				<div class="searchSearchInput">
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요"/>
					<button type="button"  onclick="searchUserList();">검색</button>
				</div>
			</div>

			<div class="contentCard">
				<div style='display: flex; justify-content: space-between;'>
					<div>
						<p id="userTotalCnt" style="margin:10px 0px 10px 0px;font-size:14px;padding:3px 8px;"></p>
					</div>
					<div>
						<button type='button' class='btn btn-outline-secondary'
								style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
								onclick="userCreate()">추가
						</button>
						<button type='button' class='btn btn-outline-secondary'
								style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
								onclick="userUpdate()">수정
						</button>
						<button type='button' class='btn btn-outline-secondary'
								style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
								onclick="userDelete()">삭제
						</button>
					</div>
				</div>

				<div class="tbl-bootstrap-wrap">
					<table id="userTable"></table>
				</div>
			</div>
		</div>

	</main>
	<th:block layout:fragment="script">
		<script th:src="@{/assets/vendor/axios/axios.min.js}"></script>
		<script th:src="@{/js/user/view.js}"></script>
	</th:block>
</div>



</html>