body{
    display: grid;
}

#sep{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
}

#btnLeft{
    display: block;
    float:left;    
}

#targetBtn{
    width:75px; 
    height:50px; 
    margin-right:20px;
    margin-bottom: 20px;
}

#qrFunctionBtn {
    display: inline-block;
}

#downloadBtn {
    display: inline-block;
    float: right;
}

#targetForm {
    display: inline-block;
}

#btnRight{
    display: block;
    float:right;
}

#btnRightDiv{
    display:inline-block;
    margin-right:20px;
}

#btnRightBtn{
    width:80px; 
    height:50px;
}

#content{
    width:100%;
    height:100%;
}

.QRListDiv{
    width:100%; 
    height:350px; 
    overflow:auto;
}

.QRTable{
    width: 100%;
}

#updateInput{
    border: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.printWrap{
    page-break-before:always;

    display: inline-flex;
    flex-direction: row;
    margin-right: 30px;
}

.printLeftWrap{
    display: flex;
    border-right: 1px dashed;
    margin: 0px 0px 10px 0px;
    padding: 5px 0px 5px 5px;
    background-color: yellow;
}

.printRightWrap{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 10px;
    margin: 0px 0px 10px 0px;
    padding: 5px 5px 5px 0px;
    background-color: yellow;
}

.printLeftImgSrc{
    display: flex;
}

.printLeftLabelSrc{
    width: 220px;
    padding-left: 10px;
    text-align: left;
}

.printRightImgSrc{
    display: flex;
}

.printRightLabelSrc{
    width: 220px;
    padding-right: 10px;
    text-align: right;
}

.printImg{
    width:50px;
}

.printLabel{
    font-size: 15px;
}

.printBtn{
    margin-right: 5px;
    width:50px;
    height: 30px;
	
	

}