<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <main id="main" class="main">

        <div class="contentCard">
            <input type="hidden" id="cable_manage_id" name="cable_manage_id" th:value="${cable.cable_manage_id}"/>

            <!-- 선택된 출발지, 목적지 테이블 -->
            <div id="section-rack-select-info">
                <div class="section-rack-title">
                    <h2>선번장 구성</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table id="rackSelectTable"></table>
                    </div>
                </div>
            </div>

            <!-- 회선 -->
            <div id="section-rack-cable-info">
                <div class="section-rack-title">
                    <h2>회선</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="rackCableTable">
                        <tbody>
                        <tr>
                            <td><label for="cable_installation_year">포설년도</label></td>
                            <td>
                                <input type="date" id="cable_installation_year" name="cable_installation_year" th:value="${cable.cable_installation_year}" readonly/>
                            </td>
                            <td><label for="cable_category">구분</label></td>
                            <td>
                                <input type="text" id="cable_category" name="cable_category" th:value="${cable.cable_category}" readonly>
                            </td>
                            <td><label for="cable_speed">속도</label></td>
                            <td>
                                <input type="text" id="cable_speed" name="cable_speed" th:value="${cable.cable_speed}" readonly>
                            </td>
                            <td><label for="cable_color">색상</label></td>
                            <td>
                                <input type="text" id="cable_color" name="cable_color" th:value="${cable.cable_color}" readonly>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <button type="button" onclick="updateData()">수정</button>
            <button type="button" onclick="deleteData()">삭제</button>
            <button type="button" onclick="back()">취소</button>
        </div>

    </main>

    <th:block layout:fragment="script">
        <script th:src="@{/js/cable/detail.js}"></script>
    </th:block>
</div>

</html>