<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">


    <main class="main" id="rack">
        <div class="contentCard">
            <!-- 출발지정보 -->
            <div id="section-rack-start-info">
                <div class="section-rack-title">
                    <h2>출발지</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="startRackTable"></table>
                </div>
            </div>

            <!-- 목적지정보 -->
            <div id="section-rack-end-info">
                <div class="section-rack-title">
                    <h2>목적지</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="endRackTable"></table>
                </div>
            </div>

            <!-- 회선 -->
            <div id="section-rack-cable-info">
                <div class="section-rack-title">
                    <h2>회선</h2>
                </div>
                <div>
                    <div class="rack-wrap">
                        <div class="rack-item">
                            <label for="config_id">구분:</label>
                            <select id="config_id" name="config_id">
                                <option value="">선택</option>
                            </select>
                        </div>
                        <div class="rack-item">
                            <label for="asset_id">속도:</label>
                            <select id="asset_id" name="asset_id">
                                <option value="">선택</option>
                            </select>
                        </div>
                        <div class="rack-item">
                            <label for="sub_id">색상:</label>
                            <select id="sub_id" name="sub_id">
                                <option value="">선택</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>


</html>