@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Black.otf") format("otf");
    font-weight: 900;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Thin.otf") format("otf");
    font-weight: 100;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-SemiBold.otf") format("otf");
    font-weight: 600;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Regular.otf") format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Medium.otf") format("otf");
    font-weight: 500;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Light.otf") format("otf");
    font-weight: 300;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-ExtraLight.otf") format("otf");
    font-weight: 200;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-ExtraBold.otf") format("otf");
    font-weight: 800;
}

@font-face {
    font-family: "Pretendard";
    src: url("../../font/Pretendard/Pretendard-Bold.otf") format("otf");
    font-weight: 700;
}

*,
html, body, span, div, h1, h2, h3, h4{
    font-family: "Pretendard", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
}


/* 기타 공통 커스텀 항목들 */

/* custom-background */
.custom-background-lightblue { background-color: #F6F9FE; }

/* custom width */
.custom-width-10per { width: 10%; }
.custom-width-15per { width: 15%; }
.custom-width-20per { width: 20%; }
.custom-width-25per { width: 25%; }
.custom-width-100per { width: 100%; }

.custom-width-45 { width: 45px; }
.custom-width-100 { width: 100px; }
.custom-width-150 { width: 150px; }
.custom-width-200 { width: 200px; }
.custom-width-250 { width: 250px; }
.custom-width-300 { width: 300px; }
.custom-width-350 { width: 350px; }
.custom-width-400 { width: 400px; }
.custom-width-450 { width: 450px; }
.custom-width-500 { width: 500px; }
.custom-width-550 { width: 550px; }

.custom-width-min-50 { min-width: 50px; }
.custom-width-min-150 { min-width: 150px; }
.custom-width-min-160 { min-width: 160px; }
.custom-width-nowrap { white-space: nowrap; }

/* custom height */
.custom-height-350 { height: 350px; }
.custom-height-min-510 { min-height: 510px; }
.custom-height-max-550 { max-height: 550px; }

/* custom margin */
.custom-margin-10 { margin: 10px; }
.custom-margin-left-10 { margin: 0px 0px 0px 10px; }
.custom-margin-left-20 { margin-left: 20px; }
.custom-margin-left-30 { margin-left: 30px; }
.custom-margin-right-10 { margin-right: 10px; }
.custom-margin-top-20 { margin-top: 20px; }
.custom-margin-top-30 { margin-top: 30px; }
.custom-margin-bottom-5  { margin-bottom: 5px; }
.custom-margin-bottom-10 { margin-bottom: 10px; }
.custom-margin-bottom-15 { margin-bottom: 15px; }
.custom-margin-bottom-20 { margin-bottom: 20px; }

.custom-margin-tb-20 { margin: 20px 0px; }

/* custom padding */
.custom-padding-10 { padding: 10px; }
.custom-padding-20 { padding: 20px; }
.custom-padding-left-25 { padding-left: 25px; }
.custom-padding-lr-10 { padding: 0px 10px;}
.custom-padding-lr-20 { padding: 0px 20px;}

/* custom position */
.custom-position-relative { position: relative; }
.custom-position-absolute { position: absolute; }

/* custom font size */
.custom-font-size-12 { font-size: 12px; }
.custom-font-size-14 { font-size: 14px; }
.custom-font-size-16 { font-size: 16px; }
.custom-font-size-18 { font-size: 18px; }
.custom-font-size-22 { font-size: 22px; }
.custom-font-size-24 { font-size: 24px; }
.custom-font-size-26 { font-size: 26px; }

/* custom font weight */
.custom-font-weight-500 { font-weight: 500; }
.custom-font-weight-bold { font-weight: bold; }

/* custom font color */
.custom-font-color-red { color: red; }

/* custom font letter-space */
.custom-font-space { letter-spacing: 5px; }

/* custom gap */
.custom-gap-5 { gap: 5px; }

/* custom Flexbox utility classes */
.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.flex-column-center { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.flex-column-end { display: flex; flex-direction: column; justify-content: flex-end; }
.flex-column-left { display: flex; flex-direction: column; align-items: flex-start; }
.flex-row-center { display: flex; flex-direction: row; align-items: center; justify-content: center; }
.flex-row-between { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }

.flex-wrap-center { display: flex; flex-wrap: wrap; justify-content: center; }
.flex-even { display: flex; justify-content: space-evenly;}


/* custom border */
.custom-border-right { border-right: 0; }
.custom-border-left { border-left: 0; }
.custom-border-top-solid { border-top: 1px solid #000; }
.custom-border-radius-4 { border-radius: 4px; }

/* custom location */
.custom-top-50 { top: 50%; }
.custom-left-0 { left: 0; }

/* custom text location */
.custom-text-left { text-align: left; }

/* custom text color */
.custom-color-red { color: red; }

/* custom text etc */
.custom-text-underline { text-decoration: underline; }

/* custom transform */
.custom-transform-translate-y-50 { transform: translateY(-50%); }

/* custom underline */
.custom-underline {
    border-bottom: 1px solid black; /* 밑줄 */
    padding-bottom: 5px; /* 텍스트와 밑줄 간격 조절 */
    margin-bottom: 10px; /* 밑줄 아래의 요소와의 간격 */
}