@font-face {
  font-family: "NanumGothic";
  src: url("../../font/NanumGothicLight.otf");
  font-weight: 300;
}

@font-face {
  font-family: "NanumGothic";
  src: url("../../font/NanumGothic.otf");
  font-weight: 500;
}

@font-face {
  font-family: "NanumGothic";
  src: url("../../font/NanumGothicBold.otf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: "NanumGothic", sans-serif;
}

html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "NanumGothic", sans-serif;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

/* 비디오 배경 스타일 */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* 비디오 오버레이 스타일 */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* 로그인 폼 스타일 */
.login-form {
  z-index: 2;
  padding: 20px;
  background: rgba(255, 255, 255, 0); /* 투명 배경 */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 100px;
}

/* 왼쪽 컨텐츠 스타일 */
.left-content {
  flex: 1;
  margin: 10px;
  background: rgba(255, 255, 255, 0); /* 투명 배경 */
}

/* Smart CMS 텍스트 스타일 */
.left-content .smart-cms {
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  width: max-content;
  margin-bottom: 5px; /* 세로 여백 줄이기 */
}

/* CABLE MANAGEMENT SYSTEM 텍스트 스타일 */
.left-content .cable-management {
  font-size: 30px;
  color: #fff;
  width: max-content;
  margin-top: 0;   /* 세로 여백 줄이기 */
}

.right-content {
  /* 고정된 너비 설정 */
  width: 450px;
  flex: none; /* 고정 너비를 유지하기 위해 flex 설정 제거 */
  margin: 10px;
  background: white; /* 하얀 배경 */
  padding: 20px; /* 패딩 추가 */
  border-radius: 10px; /* 둥근 모서리 추가 */
  display: flex;
  flex-direction: column;
}

/* 로고 섹션 스타일 */
.logo-section {
  text-align: center;
  margin-bottom: 20px;
}


.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.line-with-text::before,
.line-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.line-with-text:not(:empty)::before {
    margin-right: 0.25em;
}

.line-with-text:not(:empty)::after {
    margin-left: 0.25em;
}




/* 로그인 입력 필드 스타일 */
.login-inputs {
  margin-bottom: 20px;
}

.login-inputs div {
  margin-bottom: 10px; /* 각 입력 필드 사이에 여백 추가 */
}

/* 로그인 버튼 스타일 */
.login-button {
  text-align: center;
}

.login-button {
  background-color: blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding: 20px;
}


