body{
    display: grid;
}

#sep{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
}

#btnLeft{
    display: block;
    float:left;    
}

#targetBtn{
    width:75px; 
    height:50px; 
    margin-right:20px;
}

#btnRight{
    display: block;
    float:right;
}

#btnRightDiv{
    display:inline-block;
    margin-right:20px;
}

#btnRightBtn{
    width:80px; 
    height:50px;
}

#MakeQRCode{
    display: flex;
}

#MakeQRCodeDiv{
    display:flex; 
    flex-direction:column;
    margin-right: 5px;
}

input[type='text']{
    width:130px;  
    height:25px;  
}