	@media print{
			header{opacity:0;visibility:hidden;display:none}

@page {
		 size: 9mm 120mm;
		 size: landscape;
		 top: 0px;
		 left: 0px;
		 margin:0;
		 padding: 0;
 }

	}



.qrtd {
			font-size:10px;
			padding: 0px;
			margin:0px;
			vertical-align: top;
			height: 18px;

}
		
	
body{
    display: grid;
    margin : 0;
    padding : 0;
}

#sep{
    margin-top: 0px;
    margin-bottom: 0px;
    width:100%;
}

#QRPrintHead {
    margin-left: 0px;
}

.QRPrintTable{
    width: 100%;
    /* width: 21cm; */
    /* min-height: 29.7cm; */
  /*   min-height: 20cm; */
    padding: 0px;
    margin: 0px;
    background:#eee;
}

.QRPrintWrap{
    text-align: center;
}

.printWrap{
    page-break-before:always; 
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    
  
}

.printLeftWrap{
    display: flex;
    border-right: 1px dashed;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.printRightWrap{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: yellow;
}

.printLeftImgSrc{
    display: flex;
    align-items: top;
}

.printLeftLabelSrc{  
	margin:0px;
    display: flex;
    align-items: top;
    vertical-align: top;
}

.printRightImgSrc{
    display: flex;
    align-items: top;
}

.printRightLabelSrc{
	margin:0px;
    vertical-align: top;
    text-align: right;

    display: flex;
    align-items: top;
}

.printImg{
    width:30px;
    height: 30px;
}

.printLabel{
	margin:0px;
    font-size: 12px;
    width: 200px;
}

.printBtn{
    margin-right: 5px;
    width:50px;
    height: 30px;
}