<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <style>
        #lineCategoryTable tr:hover {
            background-color: transparent;
        }
    </style>
</head>

<div layout:fragment="content">


    <main class="main" id="line">
        <div class="contentCard">
            <div class="linkEquipmentWrap" style="display: flex; width: 100%; justify-content: space-around;">
                <!-- 출발지정보 -->
                <div id="section-line-start-info" style="width: 49%; padding-right: 10px;">
                    <div>
                        <h2>출발지</h2>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex; align-items: flex-end;">
                            <p class="totalCnt" id="lineStartTotalCnt"></p>
                        </div>
                        <div class="searchWordWrap" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <div class="searchTitle">검색어</div>
                            <div class="searchWordInput">
                                <input type="text" id="searchInput" style="width:300px;" placeholder="검색어를 입력하세요"/>
                                <button type="button"  onclick="searchEqpList();">검색</button>
                            </div>
                        </div>
                    </div>
                    <div class="tbl-bootstrap-wrap">
                        <table id="lineStartTable"></table>
                    </div>
                </div>

                <!-- 목적지정보 -->
                <div id="section-line-end-info" style="width:49%; ">
                    <div>
                        <h2>목적지</h2>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex; align-items: flex-end;">
                            <p class="totalCnt" id="lineEndTotalCnt"></p>
                        </div>
                        <div class="searchWordWrap" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <div class="searchTitle">검색어</div>
                            <div class="searchWordInput">
                                <input type="text" id="searchInput" style="width:300px;" placeholder="검색어를 입력하세요"/>
                                <button type="button"  onclick="searchEqpList();">검색</button>
                            </div>
                        </div>
                    </div>

                    <div style='display: flex; justify-content: space-between;'>
                    </div>
                    <div class="tbl-bootstrap-wrap">
                        <table id="lineEndTable"></table>
                    </div>
                </div>
            </div>

            <!-- 선택된 출발지, 목적지 테이블 -->
            <div id="section-line-select-info">
                <div class="section-line-title">
                    <h2>선번장 구성</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table id="lineSelectTable"></table>
                    </div>
                </div>
            </div>

            <!-- 회선 -->
            <div id="section-line-category-info">
                <div class="section-line-title">
                    <h2>회선</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="lineCategoryTable">
                        <tbody>
                        <tr>
                            <td><label for="line_installation_year">포설년도</label></td>
                            <td>
                                <input type="date" id="line_installation_year" name="line_installation_year"/>
                            </td>
                            <td><label for="line_category">구분</label></td>
                            <td>
                                <select id="line_category" name="line_category" class="form-control">
                                </select>
                            </td>
                            <td><label for="line_speed">속도</label></td>
                            <td>
                                <select id="line_speed" name="line_speed" class="form-control">
                                </select>
                            </td>
                            <td><label for="line_color">색상</label></td>
                            <td>
                                <select id="line_color" name="line_color" class="form-control">
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div>
            <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                    onclick="saveData()">저장
            </button>
            <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                    onclick="back()">취소
            </button>
        </div>
    </main>


    <th:block layout:fragment="script">
        <script th:src="@{/js/rack/line/register.js}"></script>
    </th:block>
</div>


</html>