<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">


    <main class="main" id="line">
        <div class="contentCard">
            <!-- 출발지정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 출발지 선택</h2>
                </div>
                <div style='display: flex; justify-content: space-between; align-items: flex-end;'>
                    <div>
                        <p class="totalCnt" id="lineStartTotalCnt"></p>
                    </div>
                    <div class="searchWordWrap">
                        <div class="searchWordInput">
                            <label class="searchTitle" for="searchStartInput">검색어</label>
                            <input type="text"    class="searchInput" id="searchStartInput" placeholder="검색어를 입력하세요"/>
                            <button type="button" class="searchButton" onclick="tableRefresh('#lineStartTable');">검색</button>
                        </div>
                    </div>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="lineStartTable"></table>
                </div>
            </div>

            <!-- 목적지정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 목적지 선택</h2>
                </div>
                <div style='display: flex; justify-content: space-between; align-items: flex-end;'>
                    <div>
                        <p class="totalCnt" id="lineEndTotalCnt"></p>
                    </div>
                    <div class="searchWordWrap">
                        <div class="searchWordInput">
                            <label class="searchTitle" for="searchEndInput">검색어</label>
                            <input type="text"    class="searchInput"  id="searchEndInput" placeholder="검색어를 입력하세요"/>
                            <button type="button" class="searchButton" onclick="tableRefresh('#lineEndTable');">검색</button>
                        </div>
                    </div>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="lineEndTable"></table>
                </div>
            </div>
        </div>

        <div class="contentCard">
            <!-- 선택된 출발지와 목적지 정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 선번장 구성</h2>
                </div>
            </div>
            <div class="contentCardWrap">
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table class="lineSelectTable" id="lineStartSelectTable"></table>
                    </div>
                </div>
            </div>
            <div class="contentCardWrap">
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table class="lineSelectTable" id="lineEndSelectTable"></table>
                    </div>
                </div>
            </div>

            <!-- 회선 정보-->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 회선</h2>
                </div>
                <div class="tbl-bootstrap-wrap custom-border-top-solid">
                    <table class="table-hover-delete" id="lineCategoryTable">
                        <tbody>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="line_installation_year" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">포설년도</label></td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="date" id="line_installation_year" name="line_installation_year" class="form-control"/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="line_category" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">구분</label></td>
                                <td class="custom-border-left custom-width-15per">
                                    <select id="line_category" name="line_category" class="form-control"></select>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="line_speed" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">속도</label></td>
                                <td class="custom-border-left custom-width-15per">
                                    <select id="line_speed" name="line_speed" class="form-control"></select>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="line_color" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">색상</label></td>
                                <td class="custom-border-left custom-width-15per">
                                    <select id="line_color" name="line_color" class="form-control" disabled></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="contentCardWrap">
                <div class="contentCardButton">
                    <button type='button' class="btn btn-outline-secondary custom-card-btn custom-blue-btn"
                            onclick="saveData()">저장
                    </button>
                    <button type='button' class="btn btn-outline-secondary custom-card-btn custom-normal-btn"
                            onclick="back()">취소
                    </button>
                </div>
            </div>

        </div>
    </main>


    <th:block layout:fragment="script">
        <script th:src="@{/js/rack/line/register.js}"></script>
    </th:block>
</div>


</html>