<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <style>
        #rackCableTable tr:hover {
            background-color: transparent;
        }
    </style>
</head>

<div layout:fragment="content">
    <main class="main" id="rack">

        <div class="contentCard">
            <input type="hidden" id="cable_manage_id" name="cable_manage_id" th:value="${cable.cable_manage_id}"/>
            <input type="hidden" id="start_eqp_id" name="start_eqp_id" th:value="${cable.start_eqp_id}"/>
            <input type="hidden" id="start_eqp_port" name="start_eqp_port" th:value="${cable.start_eqp_port}"/>
            <input type="hidden" id="end_eqp_id" name="end_eqp_id" th:value="${cable.end_eqp_id}"/>
            <input type="hidden" id="end_eqp_port" name="end_eqp_port" th:value="${cable.end_eqp_port}"/>

            <div class="rackEquipmentWrap" style="display: flex; width: 100%; justify-content: space-around;">
                <!-- 출발지정보 -->
                <div id="section-rack-start-info" style="width: 49%">
                    <div class="section-rack-title">
                        <h2>출발지</h2>
                        <p id="rackStartTotalCnt" style="margin:10px 0px 10px 0px;font-size:14px;padding:3px 8px;"></p>
                    </div>
                    <div class="searchSearchWrap">
                        <div class="searchTitle1">검색어</div>
                        <div class="searchSearchInput">
                            <input type="text" id="searchInput1" placeholder="검색어를 입력하세요"/>
                            <button type="button"  onclick="searchEqpList();">검색</button>
                        </div>
                    </div>
                    <div class="tbl-bootstrap-wrap">
                        <table id="rackStartTable"></table>
                    </div>
                </div>

                <!-- 목적지정보 -->
                <div id="section-rack-end-info" style="width:49%; ">
                    <div class="section-rack-title">
                        <h2>목적지</h2>
                        <p id="rackEndTotalCnt" style="margin:10px 0px 10px 0px;font-size:14px;padding:3px 8px;"></p>
                    </div>
                    <div class="searchSearchWrap">
                        <div class="searchTitle1">검색어</div>
                        <div class="searchSearchInput">
                            <input type="text" id="searchInput2" placeholder="검색어를 입력하세요"/>
                            <button type="button"  onclick="searchEqpList();">검색</button>
                        </div>
                    </div>
                    <div style='display: flex; justify-content: space-between;'>
                    </div>
                    <div class="tbl-bootstrap-wrap">
                        <table id="rackEndTable"></table>
                    </div>
                </div>
            </div>

            <!-- 선택된 출발지, 목적지 테이블 -->
            <div id="section-rack-select-info">
                <div class="section-rack-title">
                    <h2>선번장 구성</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table id="rackSelectTable"></table>
                    </div>
                </div>
            </div>

            <!-- 회선 -->
            <div id="section-rack-cable-info">
                <div class="section-rack-title">
                    <h2>회선</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="rackCableTable">
                        <tbody>
                        <tr>
                            <td><label for="cable_installation_year">포설년도</label></td>
                            <td>
                                <input type="date" id="cable_installation_year" name="cable_installation_year" th:value="${cable.cable_installation_year}"/>
                            </td>
                            <td><label for="cable_category">구분</label></td>
                            <td>
                                <select id="cable_category" name="cable_category" class="form-control">
                                    <option th:each="category : ${link_category}"
                                            th:value="${category['id']}"
                                            th:text="${category['name']}"
                                            th:selected="${category['name'] == cable.cable_category}"></option>
                                </select>
                            </td>
                            <td><label for="cable_speed">속도</label></td>
                            <td>
                                <select id="cable_speed" name="cable_speed" class="form-control">
                                    <option th:each="category : ${link_speed}"
                                            th:value="${category['id']}"
                                            th:text="${category['name']}"
                                            th:selected="${category['name'] == cable.cable_speed}"></option>
                                </select>
                            </td>
                            <td><label for="cable_color">색상</label></td>
                            <td>
                                <select id="cable_color" name="cable_color" class="form-control">
                                    <option th:each="category : ${link_color}"
                                            th:value="${category['id']}"
                                            th:text="${category['name']}"
                                            th:selected="${category['name'] == cable.cable_color}"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div>
            <button type="button" onclick="saveData()">저장</button>
            <button type="button" onclick="back()">취소</button>
        </div>
    </main>


    <th:block layout:fragment="script">
        <script th:src="@{/js/rack/line/update.js}"></script>
    </th:block>
</div>

</html>