<!--
	선번장관리 > 선번장목록
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


    <div layout:fragment="content">

        <main id="main" class="main-rack">

            <div class="contentCard">
                <div class="searchChkWrap">
                    <div class="searchChkColumn">
                        <div class="searchTitle">
                            <span class="highlight-start">출발지</span> 컬럼선택
                        </div>
                        <div class="searchChkLabels" id="start">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('s', 'all', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">전체</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_asset_category', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">자산분류</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_installation_coordinates', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">설치좌표</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_m_company', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">제조사</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_model_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">모델명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_host_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">호스트명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_eqp_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">구성자원명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_port', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">포트번호</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_primary_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">운영담당자</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_primary_outsourced_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">위탁운영담당자</div>
                            </label>
                        </div>
                    </div>

                    <div class="searchChkColumn">
                        <div class="searchTitle">
                            <span class="highlight-end">목적지</span> 컬럼선택
                        </div>
                        <div class="searchChkLabels" id="end">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('e', 'all', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">전체</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_asset_category', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">자산분류</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_installation_coordinates', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">설치좌표</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_m_company', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">제조사</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_model_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">모델명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_host_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">호스트명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_eqp_name', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">구성자원명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_port', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">포트번호</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_primary_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">운영담당자</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_primary_outsourced_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchChkTitle">위탁운영담당자</div>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="searchWrap">
                    <div class="searchSelectWrap">
                        <label class="searchSelect">
                            <label class="searchTitle" for="asset_category">자산분류</label>
                            <select id="asset_category" name="asset_category">
                                <option value="1">단일</option>
                                <option value="2">이중화</option>
                            </select>
                        </label>
                        <label class="searchSelect">
                            <label class="searchTitle" for="line_speed">회선속도</label>
                            <select id="line_speed" name="line_speed">
                                <option value="1">단일</option>
                                <option value="2">이중화</option>
                            </select>
                        </label>
                        <label class="searchSelect">
                            <label class="searchTitle" for="line_category">회선구분</label>
                            <select id="line_category" name="line_category">
                                <option value="1">단일</option>
                                <option value="2">이중화</option>
                            </select>
                        </label>
                        <label class="searchSelect">
                            <label class="searchTitle" for="line_color">회선색상</label>
                            <select id="line_color" name="line_color">
                                <option value="1">단일</option>
                                <option value="2">이중화</option>
                            </select>
                        </label>
                    </div>
                    <div class="searchWordWrap">
                        <div class="searchTitle">검색어</div>
                        <div class="searchWordInput">
                            <input type="text" id="searchInput" placeholder="검색어를 입력하세요"/>
                            <button type="button"  onclick="searchEqpList();">검색</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentCard">
                <div style='display: flex; justify-content: space-between;'>
                    <div>
                        <p class="totalCnt" id="cableTotalCnt"></p>
                    </div>
                    <div>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="rackCreate()">추가
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="rackUpdate()">수정
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="rackDelete()">삭제
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-blue-btn"
                                onclick="selectRackDownload()">선번장 목록 다운로드
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-blue-btn"
                                onclick="QRPDFImg()">PDF 다운로드
                        </button>
                    </div>
                </div>

                <div class="tbl-bootstrap-wrap">
                    <table id="cableTable"></table>
                </div>
            </div>

        </main><!-- End #main -->

        <th:block layout:fragment="script">
            <script th:src="@{/js/rack/line/view.js}"></script>
        </th:block>

    </div>


</html>