<!--
	선번장관리 > 선번장목록
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <style>
        /* 인쇄 카드영역 */
        .printContentCard {
            background-color: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 10px;
            padding: 20px;
            overflow-x: auto;
        }

        /* 인쇄 카드 */
        .printContentWrap {
            display: flex;
            width: 250mm; /* 설정된 너비 */
            height: 12mm; /* 설정된 높이 */
        }

        /* 개별 영역 구성 */
        .printArea {
            display: flex;
            padding: 3px 5px; /* 안쪽 여백 */
            border: 1px solid #ccc; /* 윤곽선 */
            box-sizing: border-box; /* 패딩 포함 크기 설정 */
            width: 125mm; /* 설정된 너비 */
            background: yellow;
        }

        .printArea-right {
            justify-content: flex-end;
        }

        /* .printInfoWrap: 정보 텍스트를 감싸는 스타일 */
        .printInfoWrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 5px; /* 이미지와 간격 */
        }

        /* 텍스트 레이블 스타일 */
        .infoLabel {
            font-size: 9pt; /* 글자 크기 */
            color: #333; /* 텍스트 색상 */
            font-weight: normal; /* 기본 텍스트 굵기 */
        }

        /* 이미지 스타일 */
        .printImg {
            width: 1cm; /* 이미지 너비 */
            height: 1cm; /* 이미지 높이 */
            margin: 0 2px; /* 이미지 간 간격 */
            object-fit: contain; /* 이미지 비율 유지 */
        }

        @media print {
            @page {
                size: landscape;
                margin: 0;
            }

            .printArea {
                border: 0;
            }
            .printArea-right {
                border-left: 1px solid #ccc; /* 윤곽선 */
            }

        }
    </style>
</head>
<!--
.printArea {
    border: 0;
}
.printArea-right {
    border-left: 1px solid #ccc; /* 윤곽선 */
}
-->
    <div layout:fragment="content">

        <main id="main" class="line">

            <div class="contentCard">
                <div class="searchChkWrap">
                    <div class="searchChkColumn">
                        <div class="searchTitle">
                            <span class="highlight-start">출발지</span> 컬럼선택
                        </div>
                        <div class="searchChkLabels" id="start">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('s', 'all', this.checked)" checked>
                                <span class="searchChkTitle">전체</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_asset_category', this.checked)" checked>
                                <span class="searchChkTitle">자산분류</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_installation_coordinates', this.checked)" checked>
                                <span class="searchChkTitle">설치좌표</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_m_company', this.checked)" checked>
                                <span class="searchChkTitle">제조사</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_model_name', this.checked)" checked>
                                <span class="searchChkTitle">모델명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_host_name', this.checked)" checked>
                                <span class="searchChkTitle">호스트명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_eqp_name', this.checked)" checked>
                                <span class="searchChkTitle">구성자원명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_port', this.checked)" checked>
                                <span class="searchChkTitle">포트번호</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('s', 's_primary_outsourced_operator', this.checked)" checked>
                                <span class="searchChkTitle">운영사용자</span>
                            </label>
                        </div>
                    </div>

                    <div class="searchChkColumn">
                        <div class="searchTitle">
                            <span class="highlight-end">목적지</span> 컬럼선택
                        </div>
                        <div class="searchChkLabels" id="end">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('e', 'all', this.checked)" checked>
                                <span class="searchChkTitle">전체</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_asset_category', this.checked)" checked>
                                <span class="searchChkTitle">자산분류</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_installation_coordinates', this.checked)" checked>
                                <span class="searchChkTitle">설치좌표</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_m_company', this.checked)" checked>
                                <span class="searchChkTitle">제조사</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_model_name', this.checked)" checked>
                                <span class="searchChkTitle">모델명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_host_name', this.checked)" checked>
                                <span class="searchChkTitle">호스트명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_eqp_name', this.checked)" checked>
                                <span class="searchChkTitle">구성자원명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_port', this.checked)" checked>
                                <span class="searchChkTitle">포트번호</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('e', 'e_primary_outsourced_operator', this.checked)" checked>
                                <span class="searchChkTitle">운영사용자</span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="searchWrap">
                    <div class="searchWordWrap">
                        <div class="searchWordInput">
                            <label class="searchTitle" for="searchInput">검색어</label>
                            <input type="text"    class="searchInput"  id="searchInput" placeholder="검색어를 입력하세요"/>
                            <button type="button" class="searchButton" onclick="tableRefresh();">검색</button>
                            <button type="button" class="resetButton" onclick="tableRefresh('reset');">초기화</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentCard">
                <div style='display: flex; justify-content: space-between; align-items: flex-end;'>
                    <div>
                        <p class="totalCnt" id="lineTotalCnt"></p>
                    </div>
                    <div class="custom-button-wrap">
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="lineCreate()">추가
                            <img src='/images/icon/btn/plus.svg' alt='추가' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="lineUpdate()">수정
                            <img src='/images/icon/btn/check.svg' alt='수정' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="lineDelete()">삭제
                            <img src='/images/icon/btn/minus.svg' alt='삭제' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-blue-btn"
                                onclick="selectLineDownload()">선번장 목록 다운로드
                            <img src='/images/icon/btn/download.svg' alt='다운로드' class='btn-icon'>
                        </button>
                        <!--                                onclick="QRLoad()">QR 라벨 출력-->
                        <!--                                onclick="generateQRLabelImage()">QR 라벨 출력-->
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-blue-btn"
                                    onclick="generateQRLabelImage()">QR 라벨 출력
                            <img src='/images/icon/btn/print.svg' alt='PDF' class='btn-icon'>
                        </button>
                    </div>
                </div>

                <div class="tbl-bootstrap-wrap">
                    <table id="lineTable"></table>
                </div>
            </div>

        </main><!-- End #main -->

        <th:block layout:fragment="script">
            <script th:src="@{/js/rack/line/view.js}"></script>
            <script>
                function generateQRLabelImage(){
                    let labelList = $("#lineTable").bootstrapTable("getSelections");

                    if (labelList.length === 0) {
                        Swal.fire({
                            icon: 'info',
                            title: '알림',
                            text: 'PDF로 출력할 선번장을 선택해주세요.',
                            confirmButtonText: '확인'
                        });
                        return false;
                    }

                    Swal.fire({
                        title: 'QR 라벨 출력 미리보기',
                        html: generateQRLabelImageRowHTML(labelList),
                        focusConfirm: false,
                        confirmButtonText: '출력',
                        cancelButtonText: '취소',
                        showCancelButton: true,
                        allowOutsideClick: false,
                        heightAuto: false,
                        customClass: {
                            popup: 'custom-width'
                        },
                        preConfirm: () => {

                            // return false;

                            // window.print();
                            // return false;
                        },
                    }).then((result) => {
                        if (result.isConfirmed) {
                            printWithImageLoading();
                        }
                    });
                }

                function printWithImageLoading() {
                    var originalBodyHTML = document.body.innerHTML;
                    var printContentHTML = document.getElementById('printContentCard').innerHTML;

                    document.body.innerHTML = printContentHTML;

                    var images = document.querySelectorAll('.printImg');
                    var loadedCount = 0;

                    if (images.length === 0) {
                        window.print();
                        document.body.innerHTML = originalBodyHTML;
                        return;
                    }

                    images.forEach(img => {
                        img.onload = function() {
                            loadedCount++;
                            if (loadedCount === images.length) {
                                window.print();
                                document.body.innerHTML = originalBodyHTML;
                            }
                        };
                        img.onerror = function() {
                            loadedCount++;
                            if (loadedCount === images.length) {
                                window.print();
                                document.body.innerHTML = originalBodyHTML;
                            }
                        };
                        if(img.complete) {
                            loadedCount++;
                            if (loadedCount === images.length) {
                                window.print();
                                document.body.innerHTML = originalBodyHTML;
                            }
                        }
                    });

                    window.onafterprint = function(){
                        location.reload();
                    };
                }


                function generateQRLabelImageRowHTML(selections){
                    let htmlContent = '';
                    htmlContent += `<div class="printContentCard" id="printContentCard">`;

                    selections.forEach(item => {
                        htmlContent += `
                        <div class="printContentWrap">
                            <div class="printArea">
                                <img src="/images/char_S.png" alt="start 이미지" class="printImg">
                                <img src="/common/qrImage/${item.qr_image_location}" alt="QR 이미지" class="printImg">
                                <div class="printInfoWrap">
                                    <div class="infoLabel">
                                        <span>[${item.s_installation_coordinates}] ${item.s_eqp_manage_id} - ${item.s_host_name} - Fe1</span>
                                    </div>
                                </div>
                            </div>

                            <div class="printArea printArea-right">
                                <div class="printInfoWrap">
                                    <div class="infoLabel">
                                        <span>[${item.e_installation_coordinates}] ${item.e_eqp_manage_id} - ${item.e_host_name} - Fe1</span>
                                    </div>
                                </div>
                                <img src="/common/qrImage/${item.qr_image_location}" alt="QR 이미지" class="printImg">
                                <img src="/images/char_E.png" alt="end 이미지" class="printImg">
                            </div>
                        </div>
                        `;
                    });

                    htmlContent += `</div>`
                    return htmlContent;
                }
            </script>
        </th:block>

    </div>


</html>