<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/new_default_layout}">




<div layout:fragment="content">




	<main id="main" class="main">
		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">장비관리</li>
					<li class="breadcrumb-item active">장비목록조회</li>
				</ol>
			</nav>

			<h1 style="padding: 0px 0px 10px;">장비목록조회</h1>

		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="card">
				<div class="card-body">
				<!-- <form name='detailForm' id='detailForm' method='GET' action='/eqp/detail'> -->
				<form name='detailForm' id='detailForm' method='GET' action='/eqpManage/detail'>
					<input type='hidden' id='detail_eqp_id' name='eqp_id' value=''/>
				</form>
				<!-- <form name='updateForm' id='updateForm' method='GET' action='/eqp/update'> -->
				<form name='updateForm' id='updateForm' method='GET' action='/eqpManage/update'>
					<input type='hidden' id='update_eqp_id' name='eqp_id' value=''/>
				</form>
				<!-- <form name='deleteForm' id='deleteForm' method='POST' action='/eqp/delete'> -->
				<form name='deleteForm' id='deleteForm' method='POST' action='/eqpManage/delete'>
							<input type='hidden' id='del_eqp_id' name='eqp_id' value=''/>
				</form>
			   <div  style='margin-top:5px;margin-left:auto;display: flex;justify-content: flex-end;' >
			   <button type='button' class='btn btn-outline-secondary' style='margin:5px 0px 10px 10px;font-size:13px;padding:3px 8px;' onclick="location.href='/eqp/exceldown'">엑셀 다운로드</button></div>
					<div class="EqpListDiv"></div>
				</div>
			</div>
		</section>
	</main>
	<th:block layout:fragment="script">

		<script th:src="@{/js/jsfunction.js}"></script>
		<script>EqpListTable(1);</script>
		<script>

		function eqp_detail(id){
			let fchk = document.getElementById("detailForm");
			$('#detail_eqp_id').val(id);
			fchk.submit();
		}

		function eqp_update(id) {
			let fchk = document.getElementById("updateForm");
			$('#update_eqp_id').val(id);
			//alert(id);
			fchk.submit();
			
		};
		
		function eqp_delete(id) {
			let fchk = document.getElementById("deleteForm");
			$('#del_eqp_id').val(id);
			fchk.submit();
			
		}
		
	
		</script>

	</th:block>
</div>



</html>