<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/new_default_layout}">




<div layout:fragment="content">




	<main id="main" class="main">
		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">사용자관리</li>
					<li class="breadcrumb-item active">사용자추가</li>
				</ol>
			</nav>

			<h1 style="padding: 0px 0px 10px;">사용자추가</h1>

		</div>
		
			<div class="card col-lg-8">
				<div class="card-body">
				
				
	
								<form id="writeForm" action="/sl/user/join" name="writeForm" method="post">
					<input type="hidden" id="hostnameChecked"  value="false"/>
				
				
				<table class='table table-borderless' style="margin-top:10px;">
				
						<tr>
							<th>ID</th>
							<td>
								
								<input type="text" class="form-control" name="userId" id="userId" style="width:300px;height:35px;"/>
									
							</td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td>
								<input type="password" class="form-control" name="userPassword" id="userPassword" style="width:300px;height:35px;"/>
							</td>
						</tr>
						<tr>
							<th>Name</th>
							<td>
								<input type="text" class="form-control" name="userName" id="userName" style="width:300px;height:35px;"/>		
							
							</td>
						</tr>
						
						<tr>
							<th>E-mail</th>
							<td>
								<input type="text" class="form-control" name="userEmail" id="userEmail" style="width:300px;height:35px;"/>		
							
							</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>
								<input type="text" class="form-control" name="userPhone" id="userPhone" style="width:300px;height:35px;"/>		
							</td>
						</tr>
						
	
			</table>
			
					<div style='display:flex;justify-content: center;'>
				<div><button type='button' class='btn btn-outline-secondary' onclick='usrcheck();' style='margin:0px 10px;font-size:13px;padding:3px 15px;'>저장</button></div>
				<div><button type='button' class='btn btn-outline-secondary' onclick='goList();return false;' style='margin:0px 10px;font-size:13px;padding:3px 15px;'>취소</button></div>
			</div>
				
				
				
				
				</div>
			</div>
	</main>
		</form>		

	<th:block layout:fragment="script">
	
		<script th:src="@{/js/jsfunction.js}"></script>
		<script>
			let fchk = document.getElementById("writeForm");
			function usrcheck() {
				fchk.submit();
			}
			
			function goList() {
			        location.href = "/usr/list";
			}
			
			
		</script>
		
	
	</th:block>
</div>



</html>