<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

	  <th:block layout:fragment="css">
	       <link rel="stylesheet" th:href="@{/css/style.css}" >
	  </th:block>

<!-- Content -->
<div layout:fragment="content">
	<main>
				<div class="title-box">
					<h3 class="back-icon">
							<span class="back" onclick="location.href='./index.html'">
							<img
									src="/images/icon/mingcute_left-fill.svg"
									alt="left-arrow" />
							</span>
							<span class="back" onclick="location.href='./index.html'">
						QR System Management [Cable Management]
					</h3>
					<div class="info-txt">
						<span class="icon"><img src="/images/icon/info-icon.svg" alt="icon"/></span>
						<span>QR 시스템의 관리 페이지 입니다. 회선정보 확인할 수 있습니다.</span>
					</div>
				</div>

				<div class="tab-menu">
				</div>
				<div class="tab">
					<div class="tab-item active" data-tab="tab1">
						<div class="top-con">
							<div class="btn-box">
								<button class="add" onclick="qrAddModal()">추가</button>
								<button class="modify" onclick='QRUpdate("list")'>변경</button>
								<button class="delete" onclick='QRDelete()'>삭제</button>
							</div>
							<div class="btn-box">
								<form name='qrFormData' id='targetForm' method='GET' action='/api/qr/printqr' onsubmit='qrSubmit();'>
									<input type='hidden' id='qrChk' name='qrChk' value=''/>
									<input type='hidden' id='qrStart' name='qrStart' value=''/>
									<input type='hidden' id='qrEnd' name='qrEnd' value=''/>
									<input type='hidden' id='qrStartImage' name='qrStartImage' value=''/>
									<input type='hidden' id='qrEndImage' name='qrEndImage' value=''/>
									<input type='submit' id='targetBtn' class="etc" value='EXCEL'/>
								</form>
								<button class="etc" onclick='QRPDFImg()'>PDF(인쇄)</button>
							</div>
						</div>
						
					    <div class="CableListDiv"></div>
					
					</div>
					<div class="tab-item" data-tab="tab2">
						<div class="table-wrap"></div>
					</div>
				</div>
			</main>
</div>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
		<script th:src="@{/js/axios.min.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/function.js}"></script>
		<script>CableListTable();</script>
</th:block>

</html>