<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<th:block layout:fragment="script">
	<script>
	
		function doSubmit(){
			alert("ddasf");	
	    }
		
	</script>
</th:block>


<!-- Content -->
<div layout:fragment="content">
	<main>
		<div class="title-box">
			<h3 class="back-icon">
				<span class="back" onclick="location.href='./index.html'">
					<img src="/images/icon/mingcute_left-fill.svg" alt="left-arrow" />
				</span>
				QR System Management [equipment Management]
			</h3>
			<div class="info-txt">
				<span class="icon"><img src="/images/icon/info-icon.svg" alt="icon" /></span>
				<span>QR 시스템의 관리 페이지 입니다. 장비내역을 확인할 수 있습니다.</span>
			</div>
		</div>


		<div id="content">

			<div class="tit_wrap">
				<strong class="tit">장비 추가</strong>
			</div>

			<table class="bbs_view">
				<colgroup>
					<col style="width:16%">
					<col style="width:16%">
					<col style="width:16%">
					<col style="width:16%">
					<col style="width:16%">
					<col style="width:16%">
				</colgroup>
				<tbody>
					<form id="writeForm" name="writeForm" method="post">
						<tr>
							<th>장비그룹명 <span style="color: red">*</span></th>
							<td colspan="6">
								<div class="GroupListDiv"></div>
							</td>
						</tr>
						<tr>
							<th>장비명 <span style="color: red">*</span></th>
							<td colspan="6"><input type="text" class="input" name="techNm" id="techNm"
									style="width:95%" /></td>
						</tr>
						<tr>
							<th>호스트명 <span style="color: red">*</span></th>
							<td colspan="6">
								<input type="text" class="input" name="hostname" id="hostname" maxlength="100"
									style="width:300px;" />
								<a href="#" class="btn_type04" onclick="checkhostnameExist();"
									style="height: 26px; line-height: 26px; font-size: 15px;"><span>중복체크</span></a>
							</td>
						</tr>
						<tr>
							<th>장비방향 <span style="color: red">*</span></th>
							<td colspan="6">
								<select id="mainCate" name="mainCate" style="width:200px;">
									<option value=>선택</option>
									<option value="">전면</option>
									<option value="">후면</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>랙번호 <span style="color: red">*</span></th>
							<td colspan="6">
								<div class="RackListDiv"></div>
							</td>
						</tr>
						<tr>
							<th>유닛번호 <span style="color: red">*</span></th>
							<td colspan="6"><input type="text" class="input" name="techNm" id="techNm"
									style="width:95%" /></td>
						</tr>

						<tr>
							<th>제조사</span></th>
							<td colspan="6"><input type="text" class="input" name="techNm" id="techNm"
									style="width:95%" /></td>
						</tr>
						<tr>
							<th>모델명</span></th>
							<td colspan="6"><input type="text" class="input" name="techNm" id="techNm"
									style="width:95%" /></td>
						</tr>
						<tr>
							<th>도입년도</span></th>
							<td colspan="6"><input type="text" class="input" name="techNm" id="techNm"
									style="width:95%" /></td>
						</tr>
					</form>
				</tbody>
			</table>
			<div class="btn_wrap">
				<a href="#" class="btn_type04" onclick="doSubmit(); return false;"><span>저장</span></a>
				<a href="#" class="btn_type04" onclick="goList();"><span>취소</span></a>
			</div>
		</div>
	</main>
</div>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:src="@{/js/axios.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/function.js}"></script>
	<script>GroupListTable();</script>
	<script>RackListTable();</script>
</th:block>

</html>