<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>QR Login</title>
    <link rel="stylesheet" href="/css/css.css" />
</head>

<body>

	<!-- <hr id="sep"> -->
	<input type="hidden" id="sessionLoginChk" th:value="${session.loginChk}" />
	<input type="hidden" id="sessionMessage" th:value="${session.message}" />

	<div class="lg-wrap lg-bg">
		<div class="lg-box">
			<div class="lg-box-wrap">
				<div class="lg-head">
					<img src="/images/logo/logo_.png" alt="logo" />
				</div>
				<div class="lg-inputbox">
					<div class="pj-title">
						<p>SMART CMP <span>(cable management platform)</span></p>
					</div>
					<form action="/sl/user/login" id="formDiv" method="post">
						<div class="input-form">
							<input type="text" placeholder="ID" name="userId" />
						</div>
						<div class="input-form">
							<input type="password" placeholder="PASSWORD" name="userPassword" />
						</div>
						<div class="input-form">
							<input type="submit" value="LOGIN" />
						</div>
						<!-- <a href="./join.html">회원가입</a> -->
					</form>
				</div>
			</div>
	        <!-- <div class="bt-text">
	          <p>※ 회원 가입 후 관리자에게 사용자 권한을 요청해야 합니다.</p>
	        </div> -->
		</div>
    </div>

	<script src="/js/axios.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/function.js"></script>
	<script>
		let sessionLoginChk = document.getElementById("sessionLoginChk").value;
		let sessionMessage = document.getElementById("sessionMessage").value;
		
		if((sessionLoginChk != '') && (sessionLoginChk == "no")){
			alert(sessionMessage);
		}
	</script>
</body>

</html>
