<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>QR SHOW TEST</title>
    <link rel="stylesheet" href="/css/make.css" />
</head>

<body>
        <hr id="sep">

        <div id="menuBtn">                
		<div id="btnLeft">
				<img src="/logo.png">
		</div>
		
		<div id="btnRight">
			<div id="btnRightDiv">
					<a href="javascript:moveMyPage()">[[${session.id}]] 님</a>                                
			</div>

			<input type="button" id="targetBtn" value="돌아가기" onclick="moveQR()"/>
		</div>
	</div>     

        <div class="subTitle">
                
                <hr id="sep">

                <p style="font-size:30px;">QR make!</p>
                <p>페이지 소개 : QR 정보를 생성하는 페이지입니다.<br>
                ㅇ 일련번호 입력 후 생성<br>
                ※ 입력없이 생성 눌렀을 경우 "2L42F4-AS_BB2F_1-Fe9/20"</p>                
        </div>

        <hr id="sep">

	<div id="MakeQRCode">
            <div class="sRackNumber" id="MakeQRCodeDiv">
                <label>sRackNumber</label>
                <input  type="text"
                        id="sRackNumber"
                        placeholder="sRackNumber 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='sRackNumber 입력'">
            </div>
            <div class="sRackLocation" id="MakeQRCodeDiv">
                <label>sRackLocation</label>
                <input  type="text"
                        id="sRackLocation"
                        placeholder="sRackLocation 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='sRackLocation 입력'">
            </div>
            <div class="sServerName" id="MakeQRCodeDiv">
                <label>sServerName</label>
                <input  type="text"
                        id="sServerName"
                        placeholder="sServerName 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='sServerName 입력'">
            </div>
            <div class="sPortNumber" id="MakeQRCodeDiv">
                <label>sPortNumber</label>
                <input  type="text"
                        id="sPortNumber"
                        placeholder="sPortNumber 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='sPortNumber 입력'">
            </div>
            <div class="eRackNumber" id="MakeQRCodeDiv">
                <label>eRackNumber</label>
                <input  type="text"
                        id="eRackNumber"
                        placeholder="eRackNumber 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='eRackNumber 입력'">
            </div>
            <div class="eRackLocation" id="MakeQRCodeDiv">
                <label>eRackLocation</label>
                <input  type="text"
                        id="eRackLocation"
                        placeholder="eRackLocation 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='eRackLocation 입력'">
            </div>
            <div class="eServerName" id="MakeQRCodeDiv">
                <label>eServerName</label>
                <input  type="text"
                        id="eServerName"
                        placeholder="eServerName 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='eServerName 입력'">
            </div>
            <div class="ePortNumber" id="MakeQRCodeDiv">
                <label>ePortNumber</label>
                <input  type="text"
                        id="ePortNumber"
                        placeholder="ePortNumber 입력"
                        onfocus="this.placeholder=''"
                        onblur="this.placeholder='ePortNumber 입력'">
            </div>

            <input type="button" id="targetBtn" value="생성" onclick="QRInsertDatabase();">
	</div>
		
        <hr id="sep">
        
	<script src="/js/axios.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/function.js"></script>    
</body>

</html>
