<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>QR Mypage</title>
    <link rel="stylesheet" href="/css/mypage.css" />
</head>

<body>

	<hr id="sep">

	<div id="menuBtn">                
		<div id="btnLeft">
				<img src="/logo.png">
		</div>
		
		<div id="btnRight">
			<input type="button" value="돌아가기" style="width:75px; height:50px; margin-right:20px;" onclick="moveQR()"/>		
		</div>
	</div>

	<div class="subTitle">		
		<hr id="sep">
		<p style="font-size:30px;">QR Mypage</p>
		<p>페이지 소개 : 마이페이지입니다.<br>
		ㅇ [돌아가기] 이전 페이지로 이동합니다.
	</div>

	<hr id="sep">

	<form action="/sl/mypage/userinfo" method="post">
		<div id="formDiv">
			<div>
				<label>ID</label>
				<input type="text" 
						th:value = "${session.id}"
						disabled
						name="userId"
						id="formInput">
			</div>
			
			<div>
				<label>auth</label>
				<input type="text" 
						th:value = "${session.auth}"
						disabled
						name="userEmail"
						id="formInput">
			</div>

			<div>
				<label>name</label>
				<input type="text" 
						th:value = "${session.name}"
						name="userName"
						id="formInput">
			</div>

			<div>
				<label>email</label>
				<input type="text" 
						th:value = "${session.email}"
						name="userEmail"
						id="formInput">
			</div>
			
			<div>
				<label>phone</label>
				<input type="tel" 						
						minlength="10" 
						maxlength="11"
						th:value = "${session.phone}"
						oninvalid="this.setCustomValidity('10자리 이상 입력하세요. (최대 11자리)')" 
						name="userPhone"
						id="formInput">
			</div>
		</div>	

		<div id="formDiv">
			<input type="submit" id="myPageBtn" value="변경">
		</div>        
    </form>

	<hr id="sep">
			
	<script src="/js/axios.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/function.js"></script>
</body>

</html>
