<div class="modal-input-wrap">
  <div class="input-item">
    <label for="sRackNumber">sRackNumber</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="sRackNumber"
    	   onfocus="this.placeholder=''"
           onblur="this.placeholder='sRackNumber 입력'" />
  </div>
  <div class="input-item">
    <label for="sRackLocation">sRackLocation</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="sRackLocation" />
  </div>
  <div class="input-item">
    <label for="sServerName">sServerName</label>
    <input type="text"
    	   placeholder="data를 입력해주세요." 
    	   id="sServerName" />
  </div>
  <div class="input-item">
    <label for="sPortNumber">sPortNumber</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="sPortNumber" />
  </div>
  <div class="input-item">
    <label for="eRackNumber">eRackNumber</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="eRackNumber" />
  </div>
  <div class="input-item">
    <label for="eRackLocation">eRackLocation</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="eRackLocation" />
  </div>
  <div class="input-item">
    <label for="eServerName">eServerName</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요." 
    	   id="eServerName" />
  </div>
  <div class="input-item">
    <label for="ePortNumber">ePortNumber</label>
    <input type="text" 
    	   placeholder="data를 입력해주세요.1"
    	   id="ePortNumber" />
  </div>
</div>
