<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>QR Login</title>
   <link rel='stylesheet' href='/css/printQR2.css' />
</head>

<body>

	<div class='printWrap'>
		<div class='printLeftWrap'>
		    <div class='SElebel'>S</div>
			<div class='printLeftImgSrc'>
				<img src="/qrImg/1$25$COFWS03$P00.jpg" alt='img' class='printImg'>
			</div>
			<div class='printLeftLabelSrc'>
				<div class='infoLabel'>[R01-12]호스트명_슬롯_포트</div>
				<div class='infoLabel'>[R02-34]호스트명_슬롯_포트</div>
			</div>
			<div class='printLeftLabelSrc'>
				<div class='infoLabel'><-></div><div>&nbsp;</div>
			</div>
		</div>
		
		<div class='printRightWrap'>
		  <div class='SElebel'>E</div>
			 <div class='printRightImgSrc'>
				<img src="/qrImg/1$25$COFWS03$P00.jpg" alt='img' class='printImg'>
			</div>
			<div class='printLeftLabelSrc'>
				<div class='infoLabel'><-></div><div>&nbsp;</div>
			</div>
			<div class='printRightLabelSrc'>
				<div class='infoLabel'>[R01-12]호스트명_슬롯_포트</div>
				<div class='infoLabel'>[R02-34]호스트명_슬롯_포트</div>
			</div>
		  
		</div>
	</div>
</body>

</html>