<div class="modal-input-wrap">
	<form action="/sl/user/join" method="post">
		<div class="input-item">
			<label for="formInput">ID</label>
			<input 
				type="text" 
				placeholder="test"
				onfocus="this.placeholder=''"
				onblur="this.placeholder='test'"						
				required
				oninvalid="this.setCustomValidity('이름은 필수입력값입니다.')"
				name="userId"
				id="formInput" 
			/>
		</div>
		<div class="input-item">
			<label for="password">비밀번호</label>
			<input
				type="password" 
			    placeholder="123456" 
				onfocus="this.placeholder=''"
				onblur="this.placeholder='123456'"						
				required
				oninvalid="this.setCustomValidity('비밀번호는 필수 입력값입니다.')" 
				name="userPassword"
				id="formInput"
			/>
		</div>
		<!-- <div class="input-item">
			<label for="passwordConfirm">비밀번호 확인</label>
			<input
			    type="password"
			    placeholder="비밀번호를 재 입력해주세요."
			    id="passwordConfirm"
		  	/>
		</div> -->
		<div class="input-item">
		  	<label for="name">Name</label>
		  	<input 
		  		type="text" 
		  		value=""
				placeholder="명회" 
				onfocus="this.placeholder=''"
				onblur="this.placeholder='명회'"
				name="userName"
				id="formInput"
	  		/>
		</div>
		<div class="input-item">
		  	<label for="email">E-mail</label>
		  	<input 
		  		type="text" 
		  		value=""
				placeholder="gumh@seolimict.co.kr" 
				onfocus="this.placeholder=''"
				onblur="this.placeholder='gumh@seolimict.co.kr'"
				name="userEmail"
				id="formInput"
	  		/>
		</div>
		<div class="input-item">
		  	<label for="phone">Phone</label>
		  	<input 
		  		type="text" 
		  		minlength="10" 
				maxlength="11"
				value=""
				placeholder="01026906894" 
				onfocus="this.placeholder=''"
				onblur="this.placeholder='010-2690-6894'"
				oninvalid="this.setCustomValidity('10자리 이상 입력하세요. (최대 11자리)')" 
				name="userPhone"
				id="formInput"
			 />
		</div>
		
		<div id="formDiv">
			<input type="submit" value="회원가입">
		</div>
	</form>
</div>
