<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->


<div th:fragment="headerFragment">
	<header>
	<div class="inner">
					<div class="logo" onclick="location.href='/sl/qr/showqr'">
						<img src="/images/logo/logo_.png" alt="logo" />
					</div>
					<ul class="sub-con">
						<li><form action="/test" class="btnRightDiv">
								<input type="submit" id="btnRightBtn" value="회선관리">
							</form>
						</li>
						<!-- <li><form action="/eqplist" class="btnRightDiv"> -->
						<li><form action="/cable/eqp/view" class="btnRightDiv">
								<input type="submit" id="btnRightBtn" value="장비관리">
							</form>
						</li>
						<li>
							<form action="/sl/qr/systempage" class="btnRightDiv" method="post">
								<input type="submit" id="btnRightBtn" value="사용자관리">
							</form>
						</li>
						<li>
							<form action="/sl/user/logout" class="btnRightDiv" method="post">
								<input type="submit" id="btnRightBtn" value="로그아웃">
							</form>
						</li>

					</ul>
	</div>
	</header>
</html>