<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/new_default_layout}">




<div layout:fragment="content">




	<main id="main" class="main">
		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">사용자관리</li>
					<li class="breadcrumb-item active">사용자목록조회</li>
				</ol>
			</nav>

			<h1 style="padding: 0px 0px 10px;">사용자목록조회</h1>

		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="card">
			<div class="card-body">
				<form name='updateForm' id='updateForm' method='POST' action='/usr/updateform'>
							<input type='hidden' id='update_usr_id' name='id' value=''/>
				</form>
				<form name='deleteForm' id='deleteForm' method='POST' action='/usr/delete'>
							<input type='hidden' id='del_usr_id' name='id' value=''/>
				</form>
			<div class="userDiv"></div>
			</div>
		</section>
	</main>
	<th:block layout:fragment="script">

		<script th:src="@{/js/axios.min.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jsfunction.js}"></script>
		<script>userInfo();</script>
		<script>
		
		function usr_update(id) {
			let fchk = document.getElementById("updateForm");
			$('#update_usr_id').val(id);
			//alert(id);
			fchk.submit();
			
		};
		
		function usr_delete(id) {
			let fchk = document.getElementById("deleteForm");
			$('#del_usr_id').val(id);
			fchk.submit();
			
		}
		
	
		</script>
		
	</th:block>
</div>



</html>