<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <main layout:fragment="content">


            <div class="contentCard">
                <div class="flex-row-end">
                    <p style="margin: 0;">조회시간 : 2023-05-11 09:11:30</p>
                    <button type="button" class="searchHistory" onclick="tableRefresh();">이력조회</button>
                    <button type="button" class="searchButton" onclick="tableRefresh();">검색</button>
                </div>



            </div>

            <div class="contentCard">
                <div style='display: flex; justify-content: space-between;'>
                    <div>
                        <p class="totalCnt" id="eqpTotalCnt"></p>
                    </div>
                    <div>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="eqpCreate()">추가
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="eqpUpdate()">수정
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-normal-btn"
                                onclick="eqpDelete()">삭제
                        </button>
                    </div>
                </div>

                <div class="tbl-bootstrap-wrap">
                    <table id="dashboardTable"></table>
                </div>
            </div>

    </main>


</html>