<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="aside">

    <header>
        <div class="left-section">
            <!-- 왼쪽 사이드바 접는 버튼 -->
            <button id="sidebarToggle" class="btn btn-outline-light">Toggle Sidebar</button>
            <nav id="top-menu" class="top-menu" th:fragment="topMenuFragment">
                <!-- 상단 메뉴 항목s -->
            </nav>
        </div>

        <div class="right-section">
            <!-- 사용자 정보 표시 -->
            <span th:text="${session.name} + '님'"></span>
        </div>
    </header>

    <div class="content-wrapper">
        <div class="side-menu" th:fragment="asideFragment">
            <div class="menu-section">
                <input id="menu-search" type="text" placeholder="Search..." />
                <div id="menu-items" class="items-section"> </div>
            </div>
            <div class="bottom-section">
                <p id="bottom-text">COPYRIGHT © 2024 서림정보통신 <br>ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</div>

</html>