<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="aside">

    <header>
        <div class="left-section">
            <!-- 왼쪽 사이드바 접는 버튼 -->
            <button id="sidebarToggle" class="btn">
                <img src="/images/icon/folder.png" alt="Toggle Sidebar" class="sidebar-toggle-img">
            </button>
            <!-- 상단 메뉴 항목 -->
            <nav id="top-menu" class="top-menu" th:fragment="topMenuFragment"></nav>
        </div>

        <div class="right-section">
            <!-- 사용자 정보 표시 -->
            <a class="nav-link align-items-center pe-0" href="#" data-bs-toggle="dropdown">
               <span class="dropdown-toggle ps-2" th:text="${session.name}+'님'"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-arrow profile">
                <li class="dropdown-header">
                    <h6>관리자 권한 계정</h6>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#" onclick="usrlogout();">
                        <span>로그아웃</span>
                    </a>
                </li>
            </ul>

<!--            <form name='logoutform' id='logoutform' method='POST' action='/sl/user/logout'></form>-->
            <form name='logoutform' id='logoutform' method='POST' action='/logout'></form>
        </div>
    </header>

    <div class="side-menu" th:fragment="asideFragment">
        <div class="menu-section">
            <input id="menu-search" type="text" placeholder="Search..." />
<!--            <img id="menu-search" src="/images/logo/technopark.png" alt="Search" onclick="location.href='/cable/rack/view'" />-->

            <!-- 사이드바 메뉴 항목 menu.js 에서 동적생성 -->
            <div id="menu-items" class="items-section"> </div>
        </div>
        <div class="bottom-section">
            <p class="bottom-text-title">Smart CMS</p>
            <p class="bottom-text-content">CABLEMANAGEMENT SYSTEM</p>
        </div>
    </div>
</div>

</html>