<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--asideFragment 선언-->
<div th:fragment="asideFragment">
	<!-- ======= Sidebar ======= -->
			  <aside id="sidebar" class="sidebar">

			    <ul class="sidebar-nav" id="sidebar-nav">

			     <!--  <li class="nav-item">
			        <a class="nav-link collapsed" href="index.html">
			          <i class="bi bi-grid"></i>
			          <span>Dashboard</span>
			        </a>
			      </li>
 -->
			      <li class="nav-item">
			        <a class="nav-link collapsed" data-bs-target="#cable-nav" data-bs-toggle="collapse" href="#">
			          <i class="bi bi-upc-scan"></i><span>선번장관리</span><i class="bi bi-chevron-down ms-auto"></i>
			        </a>
			        <ul id="cable-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
			          <li>
						  <!-- <a id="cablelist_link" href="/cablelist" class="a-link" > -->
						  <a id="cablelist_link" href="/cableManage/view" class="a-link" >
			              <i class="bi bi-circle"></i><span>선번장목록</span>
			            </a>
			          </li>
			          <li>
					  	<!-- <a id="cablereg_link" href="/cableregister"> -->
			            <a id="cablereg_link" href="/cableManage/register">
			              <i class="bi bi-circle"></i><span>선번장추가</span>
			            </a>
			          </li>  
			          </li>
			        </ul>
			      </li><!-- End Components Nav -->


			      <li class="nav-item">
			        <a class="nav-link collapsed" data-bs-target="#eqp-nav" data-bs-toggle="collapse" href="#">
			          <i class="ri ri-database-line"></i><span>장비관리</span><i class="bi bi-chevron-down ms-auto"></i>
			        </a>
			        <ul id="eqp-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
			          <li >
			            <!-- <a id="eqplist_link" href="/eqplist"> -->
						<a id="eqplist_link" href="/eqpManage/view">
							<i class="bi bi-circle"></i><span>장비목록</span>
						</a>
			          </li>
			          <li>
						  <!-- <a id="eqpreg_link" href="/eqpregister"> -->
						  <a id="eqpreg_link" href="/eqpManage/register">
			              	<i class="bi bi-circle"></i><span>장비추가</span>
						  </a>
			          </li>
			        </ul>
			      </li><!-- End Tables Nav -->

			       <li class="nav-item">
			        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
			          <i class="bi bi-person-circle"></i><span>사용자관리</span><i class="bi bi-chevron-down ms-auto"></i>
			        </a>
			        <ul id="user-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
			          <li >
			            <a id="usrlist_link" href="/usr/list">
			              <i class="bi bi-circle"></i><span>사용자목록</span>
			            </a>
			          </li>
			          <li>
			            <a  id="usrreg_link" href="/usr/regster">
			              <i class="bi bi-circle"></i><span>사용자추가</span>
			            </a>
			          </li>
			           <!-- <li>
			            <a  href="tables-data.html">
			              <i class="bi bi-circle"></i><span>권한관리</span>
			            </a>
			          </li> -->
			        </ul>
			      </li><!-- End Tables Nav -->


			   

			     <!--  <li class="nav-item">
			        <a class="nav-link collapsed" href="users-profile.html">
			          <i class="bi bi-bar-chart-line"></i>
			          <span>통계·보고서</span>
			        </a>
			      </li> -->

			      

			    </ul>

			  </aside><!-- End Sidebar-->
			  <th:block layout:fragment="script">
			  		<script th:src="@{/js/common/jquery.min.js}"></script>

			  			<script>
			  			
			  			 
			  			var loc_path = location.pathname;
			  			
			  			// if(loc_path == "/cablelist"){
			  			if(loc_path == "/cable/view"){
			  				$("#cable-nav").addClass("show");
							$("#cablelist_link").addClass("active");
			  			// } else if(loc_path == "/cableregister") {
			  			} else if(loc_path == "/cable/register") {
			  				$("#cable-nav").addClass("show");
			  				$("#cablereg_link").addClass("active");
			  			// } else if(loc_path == "/eqplist") {
			  			} else if(loc_path == "/eqpManage/view") {
			  				$("#eqp-nav").addClass("show");
			  				$("#eqplist_link").addClass("active");
			  			// } else if(loc_path == "/eqpregister") {
			  			} else if(loc_path == "/eqpManage/register") {
			  				$("#eqp-nav").addClass("show");
							$("#eqpreg_link").addClass("active");
			  			} else if(loc_path == "/usr/list") {
			  				$("#user-nav").addClass("show");
							$("#usrlist_link").addClass("active");
			  			} else if(loc_path == "/usr/regster") {
			  				$("#user-nav").addClass("show");
			  				$("#usrreg_link").addClass("active");
			  			}
			  			
			  			</script>
			  	
			  			
			  				<!-- Template Main JS File -->
		
			  			
			  </th:block>
	
</div>
</html>