<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <main id="main" class="main">

        <input type="hidden" id="eqp_manage_id" name="eqp_manage_id" th:value="${equipment.eqp_manage_id}"/>

        <section id="selection-equipment">
            <!-- 장비분류 -->
            <div id="section-equipment-category">
                <div class="section-equipment-title">
                    <h2>장비분류</h2>
                </div>
                <div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="config_category">구성분류:</label>
                            <input type="text" id="config_category" name="config_category" th:value="${equipment.config_category}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="asset_category">자산분류:</label>
                            <input type="text" id="asset_category" name="asset_category" th:value="${equipment.asset_category}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="sub_category">자산세부분류:</label>
                            <input type="text" id="sub_category" name="sub_category" th:value="${equipment.sub_category}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="detail_category">자산상세분류:</label>
                            <input type="text" id="detail_category" name="detail_category" th:value="${equipment.containsKey('detail_category')} ? ${equipment['detail_category']} : ''" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 장비기본정보 -->
            <div id="section-equipment-basic-info">
                <div class="section-equipment-title">
                    <h2>장비기본정보</h2>
                </div>
                <div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="eqp_name">구성자원명:</label>
                            <input type="text" id="eqp_name" name="eqp_name" th:value="${equipment.eqp_name}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="host_name">호스트명:</label>
                            <input type="text" id="host_name" name="host_name" th:value="${equipment.host_name}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="model_name">모델명:</label>
                            <input type="text" id="model_name" name="model_name" th:value="${equipment.model_name}"
                                   readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="m_company">제조사:</label>
                            <input type="text" id="m_company" name="m_company" th:value="${equipment.m_company}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="domestic">국산여부:</label>
                            <input type="text" id="domestic" name="domestic" th:value="${equipment.domestic == '1' ? '국산' : '외산'}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="redundancy_config">이중화 구성여부:</label>
                            <input type="text" id="redundancy_config" name="redundancy_config" th:value="${equipment.redundancy_config == '1' ? '단일' : '이중화'}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="maintenance_contract_target">유지관리 계약대상여부:</label>
                            <input type="text" id="maintenance_contract_target" name="maintenance_contract_target" th:value="${equipment.maintenance_contract_target == '1' ? 'Y' : 'N'}" readonly/>
                        </div>
                    </div>
                </div>
            </div>



            <!-- 장비운영정보 -->
            <div id="section-equipment-operation-info">
                <div class="section-equipment-title">
                    <h2>장비운영정보</h2>
                </div>
                <div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="network_operation_type">운영구분:</label>
                            <input type="text" id="network_operation_type" name="network_operation_type" th:value="${equipment.network_operation_type == '1' ? '인터넷망' : (equipment.network_operation_type == '2' ? '업무망' : '운영망')}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="primary_operator">운영담당자(정):</label>
                            <input type="text" id="primary_operator" name="primary_operator" th:value="${equipment.primary_operator}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="primary_outsourced_operator">위탁운영사용자(정):</label>
                            <input type="text" id="primary_outsourced_operator" name="primary_outsourced_operator" th:value="${equipment.primary_outsourced_operator}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="operating_status">운영상태:</label>
                            <input type="text" id="operating_status" name="operating_status" th:value="${equipment.operating_status == '1' ? '사용' : '정지'}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="secondary_operator">운영담당자(부):</label>
                            <input type="text" id="secondary_operator" name="secondary_operator" th:value="${equipment.secondary_operator}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="secondary_outsourced_operator">위탁운영사용자(부):</label>
                            <input type="text" id="secondary_outsourced_operator" name="secondary_outsourced_operator" th:value="${equipment.secondary_outsourced_operator}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="operating_department">운영부서:</label>
                            <input type="text" id="operating_department" name="operating_department" th:value="${equipment.operating_department}" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 장비상세정보 -->
            <div id="section-equipment-details">
                <div class="section-equipment-title">
                    <h2>장비상세정보</h2>
                </div>
                <div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="cpu">CPU:</label>
                            <input type="text" id="cpu" name="cpu" th:value="${equipment.CPU}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="ip_block1">IP 주소:</label>
                            <input type="text" id="ip_block1" th:value="${equipment.ip_block1}" maxlength="3" size="3" oninput="moveToNext(this, 'ip_block2')"/>
                            .
                            <input type="text" id="ip_block2" th:value="${equipment.ip_block2}" maxlength="3" size="3" oninput="moveToNext(this, 'ip_block3')"/>
                            .
                            <input type="text" id="ip_block3" th:value="${equipment.ip_block3}" maxlength="3" size="3" oninput="moveToNext(this, 'ip_block4')"/>
                            .
                            <input type="text" id="ip_block4" th:value="${equipment.ip_block4}" maxlength="3" size="3" oninput="checkIPBlock(this)"/>
                        </div>
                        <div class="equipment-item">
                            <label for="installation_coordinates">설치좌표(좌표):</label>
                            <input type="text" id="installation_coordinates" name="installation_coordinates" th:value="${equipment.installation_coordinates}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="dbrain_number">디브레인번호:</label>
                            <input type="text" id="dbrain_number" name="dbrain_number" th:value="${equipment.dbrain_number}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="mem">Memory:</label>
                            <input type="text" id="mem" name="mem" th:value="${equipment.MEMORY}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="os_version">OS:</label>
                            <input type="text" id="os_version" name="os_version" th:value="${equipment.OS}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="installation_units">설치좌표(유닛수):</label>
                            <input type="number" id="installation_units" name="installation_units" th:value="${equipment.installation_units}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="serial_number">시리얼번호:</label>
                            <input type="text" id="serial_number" name="serial_number" th:value="${equipment.serial_number}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="disk">Disk:</label>
                            <input type="text" id="disk" name="disk" th:value="${equipment.DISK}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="acquisition_cost">도입금액:</label>
                            <input type="text" id="acquisition_cost" name="acquisition_cost" th:value="${equipment.acquisition_cost}" oninput="formatCurrency(this)" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="equipment_size_units">장비크기(유닛수):</label>
                            <input type="number" id="equipment_size_units" name="equipment_size_units" th:value="${equipment.equipment_size_units}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="asset_acquisition_date">자산취득일자:</label>
                            <input type="date" id="asset_acquisition_date" name="asset_acquisition_date" th:value="${equipment.asset_acquisition_date}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="eol_status">단종상태(EOL):</label>
                            <input type="date" id="eol_status" name="eol_status" th:value="${equipment.eol_status}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="eos_status">단종상태(EOS):</label>
                            <input type="date" id="eos_status" name="eos_status" th:value="${equipment.eos_status}" readonly/>
                        </div>
                    </div>
                    <!--
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="asset_acquisition_date">자산취득일자:</label>
                            <input type="date" id="asset_acquisition_date" name="asset_acquisition_date" th:value="${equipment.asset_acquisition_date}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="eol_status">단종상태(EOL):</label>
                            <input type="date" id="eol_status" name="eol_status" th:value="${equipment.eol_status}" readonly/>
                        </div>
                    </div>
                    <div class="equipment-wrap">
                        <div class="equipment-item">
                            <label for="asset_disposal_date">자산폐기일자:</label>
                            <input type="date" id="asset_disposal_date" name="asset_disposal_date" th:value="${equipment.asset_disposal_date}" readonly/>
                        </div>
                        <div class="equipment-item">
                            <label for="eos_status">단종상태(EOS):</label>
                            <input type="date" id="eos_status" name="eos_status" th:value="${equipment.eos_status}" readonly/>
                        </div>
                    </div>
                    -->
                </div>
            </div>

            <!-- 장비연결정보 -->
            <div id="section-equipment-connection-info">
                <div class="section-equipment-title">
                    <h2>장비연결정보</h2>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <table id="eqpLinkTable"></table>
                </div>
            </div>
        </section>

        <div>
            <button type="button" onclick="updateData()">수정</button>
            <button type="button" onclick="deleteData()">삭제</button>
            <button type="button" onclick="back()">취소</button>
        </div>

    </main>

    <th:block layout:fragment="script">
        <script th:src="@{/js/eqp/detail.js}"></script>
    </th:block>
</div>

</html>