<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/new_default_layout}">

<head>
    <style>
        #section-equipment-basic-info,
        #section-equipment-category,
        #section-equipment-operation-info,
        #section-equipment-details,
        #section-equipment-connection-info {
            margin-bottom: 30px;
        }

        .equipment-wrap {
            display: flex;
        }
    </style>
</head>

<div layout:fragment="content">
    <main id="main" class="main">

        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">장비관리</li>
                    <li class="breadcrumb-item active">장비 DETAIL</li>
                </ol>
            </nav>

            <h1 style="padding: 0px 0px 10px;">장비 DETAIL</h1>
        </div>

        <input type="hidden" id="eqp_manage_id" name="eqp_manage_id" th:value="${equipment.eqp_manage_id}"/>

        <section id="selection-equipment">
            <!-- 장비기본정보 -->
            <div id="section-equipment-basic-info">
                <h2>장비기본정보</h2>
                <div class="equipment-wrap">
                    <label for="eqp_name">장비명:</label>
                    <input type="text" id="eqp_name" name="eqp_name" th:value="${equipment.eqp_name}" readonly/>

                    <label for="host_name">호스트명:</label>
                    <input type="text" id="host_name" name="host_name" th:value="${equipment.host_name}" readonly/>

                    <label for="model_name">모델명:</label>
                    <input type="text" id="model_name" name="model_name" th:value="${equipment.model_name}" readonly/>

                    <label for="m_company">제조사:</label>
                    <input type="text" id="m_company" name="m_company" th:value="${equipment.m_company}" readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="domestic">국산여부:</label>
                    <input type="text" id="domestic" name="domestic"
                           th:value="${equipment.domestic == '1' ? '국산' : '외산'}" readonly/>

                    <label for="redundancy_config">이중화 구성여부:</label>
                    <input type="text" id="redundancy_config" name="redundancy_config"
                           th:value="${equipment.redundancy_config == '1' ? '단일' : '이중화'}" readonly/>

                    <label for="maintenance_contract_target">유지관리 계약대상여부:</label>
                    <input type="text" id="maintenance_contract_target" name="maintenance_contract_target"
                           th:value="${equipment.maintenance_contract_target == '1' ? 'Y' : 'N'}" readonly/>
                </div>
            </div>

            <!-- 장비분류 -->
            <div id="section-equipment-category">
                <h2>장비분류</h2>
                <div class="equipment-wrap">
                    <label for="config_category">구성분류:</label>
                    <input type="text" id="config_category" name="config_category" th:value="${equipment.config_category}" readonly/>

                    <label for="asset_category">자산분류:</label>
                    <input type="text" id="asset_category" name="asset_category" th:value="${equipment.asset_category}" readonly/>

                    <label for="sub_category">자산세부분류:</label>
                    <input type="text" id="sub_category" name="sub_category" th:value="${equipment.sub_category}" readonly/>

                    <label for="detail_category">자산상세분류:</label>
                    <input type="text" id="detail_category" name="detail_category" th:value="${equipment.containsKey('detail_category')} ? ${equipment['detail_category']} : ''" readonly/>
                </div>
            </div>

            <!-- 장비운영정보 -->
            <div id="section-equipment-operation-info">
                <h2>장비운영정보</h2>
                <div class="equipment-wrap">
                    <label for="network_operation_type">운영구분:</label>
                    <input type="text" id="network_operation_type" name="network_operation_type"
                           th:value="${equipment.network_operation_type == '1' ? '인터넷망' : (equipment.network_operation_type == '2' ? '업무망' : '운영망')}"
                           readonly/>

                    <label for="primary_operator">운영담당자(정):</label>
                    <input type="text" id="primary_operator" name="primary_operator"
                           th:value="${equipment.primary_operator}" readonly/>

                    <label for="primary_outsourced_operator">위탁운영사용자(정):</label>
                    <input type="text" id="primary_outsourced_operator" name="primary_outsourced_operator"
                           th:value="${equipment.primary_outsourced_operator}" readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="operating_status">운영상태:</label>
                    <input type="text" id="operating_status" name="operating_status"
                           th:value="${equipment.operating_status == '1' ? '사용' : '정지'}" readonly/>

                    <label for="secondary_operator">운영담당자(부):</label>
                    <input type="text" id="secondary_operator" name="secondary_operator"
                           th:value="${equipment.secondary_operator}" readonly/>

                    <label for="secondary_outsourced_operator">위탁운영사용자(부):</label>
                    <input type="text" id="secondary_outsourced_operator" name="secondary_outsourced_operator"
                           th:value="${equipment.secondary_outsourced_operator}" readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="operating_department">운영부서:</label>
                    <input type="text" id="operating_department" name="operating_department"
                           th:value="${equipment.operating_department}" readonly/>
                </div>
            </div>

            <!-- 장비상세정보 -->
            <div id="section-equipment-details">
                <h2>장비상세정보</h2>
                <div class="equipment-wrap">
                    <label for="cpu">CPU:</label>
                    <input type="text" id="cpu" name="cpu" th:value="${equipment.CPU}" readonly/>

                    <label for="ip_address">IP 주소:</label>
                    <input type="text" id="ip_address" name="ip_address" th:value="${equipment.ip_address}" readonly/>

                    <label for="installation_coordinates">설치좌표(좌표):</label>
                    <input type="text" id="installation_coordinates" name="installation_coordinates"
                           th:value="${equipment.installation_coordinates}" readonly/>

                    <label for="dbrain_number">디브레인번호:</label>
                    <input type="text" id="dbrain_number" name="dbrain_number" th:value="${equipment.dbrain_number}"
                           readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="mem">Memory:</label>
                    <input type="text" id="mem" name="mem" th:value="${equipment.MEMORY}" readonly/>

                    <label for="os_version">OS:</label>
                    <input type="text" id="os_version" name="os_version" th:value="${equipment.OS}" readonly/>

                    <label for="installation_units">설치좌표(유닛수):</label>
                    <input type="number" id="installation_units" name="installation_units"
                           th:value="${equipment.installation_units}" readonly/>

                    <label for="serial_number">시리얼번호:</label>
                    <input type="text" id="serial_number" name="serial_number" th:value="${equipment.serial_number}"
                           readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="disk">Disk:</label>
                    <input type="text" id="disk" name="disk" th:value="${equipment.DISK}" readonly/>

                    <label for="acquisition_cost">도입금액:</label>
                    <input type="text" id="acquisition_cost" name="acquisition_cost"
                           th:value="${equipment.acquisition_cost}" oninput="formatCurrency(this)" readonly/>

                    <label for="equipment_size_units">장비크기(유닛수):</label>
                    <input type="number" id="equipment_size_units" name="equipment_size_units"
                           th:value="${equipment.equipment_size_units}" readonly/>
                </div>

                <div class="equipment-wrap">
                    <label for="asset_acquisition_date">자산취득일자:</label>
                    <input type="date" id="asset_acquisition_date" name="asset_acquisition_date"
                           th:value="${equipment.asset_acquisition_date}" readonly/>

                    <label for="eol_status">단종상태(EOL):</label>
                    <input type="date" id="eol_status" name="eol_status" th:value="${equipment.eol_status}" readonly/>
                </div>
                <div class="equipment-wrap">
                    <label for="asset_disposal_date">자산폐기일자:</label>
                    <input type="date" id="asset_disposal_date" name="asset_disposal_date"
                           th:value="${equipment.asset_disposal_date}" readonly/>

                    <label for="eos_status">단종상태(EOS):</label>
                    <input type="date" id="eos_status" name="eos_status" th:value="${equipment.eos_status}" readonly/>
                </div>
            </div>

        </section>

        <div>
            <button type="button" onclick="updateData()">수정</button>
            <button type="button" onclick="deleteData()">삭제</button>
            <button type="button" onclick="back()">취소</button>
        </div>

    </main>

    <th:block layout:fragment="script">
        <script th:src="@{/js/eqp/detail.js}"></script>
    </th:block>
</div>

</html>