<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/new_default_layout}">

<head>

	<style>
		#section-equipment-basic-info,
        #section-equipment-category,
        #section-equipment-operation-info,
        #section-equipment-details,
        #section-equipment-connection-info {
            margin-bottom: 30px;
        }
	</style>
</head>
<div layout:fragment="content">
	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">장비관리</li>
					<li class="breadcrumb-item active">장비추가</li>
				</ol>
			</nav>

			<h1 style="padding: 0px 0px 10px;">장비추가</h1>
		</div>

		<section id="selection-equipment">
			<!-- 장비기본정보 -->
			<div id="section-equipment-basic-info">
				<h2>장비기본정보</h2>
				<div>
					<label for="eqp_name">장비명:</label>
					<input type="text" id="eqp_name" name="eqp_name"/>

					<label for="hostname">호스트명:</label>
					<input type="text" id="hostname" name="hostname"/>

					<label for="model">모델명:</label>
					<input type="text" id="model" name="model"/>

					<label for="m_company">제조사:</label>
					<input type="text" id="m_company" name="m_company"/>

					<label for="domestic">국산여부:</label>
					<select id="domestic" name="domestic">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>

					<label for="redundancy_config">이중화 구성여부:</label>
					<select id="redundancy_config" name="redundancy_config">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>

					<label for="maintenance_contract_target">유지관리 계약대상 여부:</label>
					<select id="maintenance_contract_target" name="maintenance_contract_target">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>

			<!-- 장비분류 -->
			<div id="section-equipment-category">
				<h2>장비분류</h2>
				<div>
					<label for="config_category">구성분류:</label>
					<select id="config_category" name="config_category"></select>

					<label for="asset_category">자산분류:</label>
					<select id="asset_category" name="asset_category"></select>

					<label for="asset_subcategory">자산세부분류:</label>
					<select id="asset_subcategory" name="asset_subcategory"></select>

					<label for="item">항목:</label>
					<select id="item" name="item"></select>

					<label for="config_id">구성ID:</label>
					<input type="text" id="config_id" name="config_id"/>

					<label for="asset_id">자산ID:</label>
					<input type="text" id="asset_id" name="asset_id"/>

					<label for="asset_sub_id">자산세부ID:</label>
					<input type="text" id="asset_sub_id" name="asset_sub_id"/>

					<label for="item_id">항목ID:</label>
					<input type="text" id="item_id" name="item_id"/>
				</div>
			</div>

			<!-- 장비운영정보 -->
			<div id="section-equipment-operation-info">
				<h2>장비운영정보</h2>
				<div>
					<label for="operating_status">운영구분:</label>
					<select id="operating_status" name="operating_status"></select>

					<label for="primary_operator">운영담당자(정):</label>
					<input type="text" id="primary_operator" name="primary_operator"/>

					<label for="primary_outsourced_operator">위탁운영사용자(정):</label>
					<input type="text" id="primary_outsourced_operator" name="primary_outsourced_operator"/>

					<label for="operating_status">운영상태:</label>
					<select id="operating_status" name="operating_status"></select>

					<label for="secondary_operator">운영담당자(부):</label>
					<input type="text" id="secondary_operator" name="secondary_operator"/>

					<label for="secondary_outsourced_operator">위탁운영사용자(부):</label>
					<input type="text" id="secondary_outsourced_operator" name="secondary_outsourced_operator"/>

					<label for="operating_department">운영부서:</label>
					<input type="text" id="operating_department" name="operating_department"/>
				</div>
			</div>

			<!-- 장비상세정보 -->
			<div id="section-equipment-details">
				<h2>장비상세정보</h2>
				<div>
					<label for="cpu">CPU:</label>
					<input type="text" id="cpu" name="cpu"/>

					<label for="ip_address">IP 주소:</label>
					<input type="text" id="ip_address" name="ip_address"/>

					<label for="dbrain_number">디브레인번호:</label>
					<input type="text" id="dbrain_number" name="dbrain_number"/>

					<label for="installation_coordinates">설치좌표(좌표):</label>
					<input type="text" id="installation_coordinates" name="installation_coordinates"/>

					<label for="mem">Memory:</label>
					<input type="text" id="mem" name="mem"/>

					<label for="os_version">OS:</label>
					<input type="text" id="os_version" name="os_version"/>

					<label for="serial_number">시리얼번호:</label>
					<input type="text" id="serial_number" name="serial_number"/>

					<label for="installation_units">설치좌표(유닛수):</label>
					<input type="number" id="installation_units" name="installation_units"/>

					<label for="disk">Disk:</label>
					<input type="text" id="disk" name="disk"/>

					<label for="acquisition_cost">도입금액:</label>
					<input type="number" id="acquisition_cost" name="acquisition_cost"/>

					<label for="equipment_size_units">장비크기(유닛수):</label>
					<input type="number" id="equipment_size_units" name="equipment_size_units"/>

					<label for="asset_acquisition_date">자산취득일자:</label>
					<input type="date" id="asset_acquisition_date" name="asset_acquisition_date"/>

					<label for="eol_status">단종상태(EOL):</label>
					<input type="date" id="eol_status" name="eol_status"/>

					<label for="asset_disposal_date">자산폐기일자:</label>
					<input type="date" id="asset_disposal_date" name="asset_disposal_date"/>

					<label for="eos_status">단종상태(EOS):</label>
					<input type="date" id="eos_status" name="eos_status"/>
				</div>
			</div>

			<!-- 장비연결정보 -->
			<div id="section-equipment-connection-info">
				<h2>장비연결정보</h2>
				<div>
					<button type="button">추가</button>
					<button type="button">삭제</button>
				</div>
			</div>
		</section>

		<!-- 저장 버튼 -->
		<div>
			<button type="button" onclick="saveData()">저장</button>
			<button type="button" onclick="cancelAction()">취소</button>
		</div>

	</main>

	<th:block layout:fragment="script">
		<script th:src="@{/js/common/bootstrap.min.js}"></script>
		<script th:src="@{/js/common/jquery.min.js}"></script>
		<script th:src="@{/js/eqpDetail.js}"></script>
	</th:block>
</div>

</html>