<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <div layout:fragment="content">

        <main id="main" class="equipment">

            <div class="contentCard">
                <div class="searchChkWrap">
                    <div class="searchChkColumn">
                        <div class="searchTitle1">컬럼선택</div>
                        <div class="searchChkLabels">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('all', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >전체</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('host_name', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >호스트명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('model_name', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >모델명</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('m_company', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >제조사</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('operating_status', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >운영상태</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('operating_department', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >운영부서</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('primary_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >운영담당자(정)</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('secondary_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >운영담당자(부)</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('primary_outsourced_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >위탁운영사용자(정)</div>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('secondary_outsourced_operator', this.checked)" checked>
                                <span></span>
                                <div class="searchTitle2" >위탁운영사용자(부)</div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="searchSearchWrap">
                    <div class="searchTitle1">검색어</div>
                    <div class="searchSearchInput">
                        <input type="text" id="searchInput" placeholder="검색어를 입력하세요"/>
                        <button type="button"  onclick="searchEqpList();">검색</button>
                    </div>
                </div>


                <div class="searchSelectWrap">
                    <!--
                    연도 선택박스(도입년도 등), 그룹(유닛번호 등) 선택박스 영역
                    필요없다고 하면 지우기

                    <label class="searchSelect">
                        <div class="searchTitle3" style="margin-left: 10px;">도입년도</div>
                        <input type="text" class="searchEqpSelectInput" />
                    </label>
                    <label class="searchSelect">
                        <div class="searchTitle3" style="margin-left: 10px;">유닛번호</div>
                        <input type="text" class="searchEqpSelectInput" />
                    </label>
                    -->
                </div>
            </div>

            <div class="contentCard">
                <div style='display: flex; justify-content: space-between;'>
                    <div>
                        <p id="eqpTotalCnt" style="margin:10px 0px 10px 0px;font-size:14px;padding:3px 8px;"></p>
                    </div>
                    <div>
                        <button type='button' class='btn btn-outline-secondary'
                                style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
                                onclick="eqpCreate()">추가
                        </button>
                        <button type='button' class='btn btn-outline-secondary'
                                style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
                                onclick="eqpUpdate()">수정
                        </button>
                        <button type='button' class='btn btn-outline-secondary'
                                style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
                                onclick="eqpDelete()">삭제
                        </button>
                        <button type='button' class='btn btn-outline-secondary'
                                style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
                                onclick="excelUpload()">장비 목록 업로드
                        </button>
                        <button type='button' class='btn btn-outline-secondary'
                                style='margin:10px 0px 10px 5px;font-size:13px;padding:3px 8px;'
                                onclick="selectEquipmentDownload()">장비 목록 다운로드
                        </button>
                    </div>
                </div>

                <div class="tbl-bootstrap-wrap">
                    <table id="eqpTable"></table>
                </div>
            </div>

        </main>

        <th:block layout:fragment="script">
            <script th:src="@{/js/eqp/view.js}"></script>
        </th:block>
    </div>


</html>