<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<!--	layout:decorate="~{layouts/new_default_layout}">-->




<div layout:fragment="content">




	<main id="main" class="main">
		<div class="pagetitle">


			<h1 style="padding: 0px 0px 10px;">수정예정</h1>

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">환경설정</li>
					<li class="breadcrumb-item active">환경설정</li>
				</ol>
			</nav>

		</div>
	</main>
</div>



</html>