<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

	<main id="main" class="main">

		<div class="contentCard">
			<div class="searchWrap">
				<div class="searchSelectWrap">
					<label class="searchSelect">
						<label class="searchTitle" for="asset_category">부서</label>
						<select id="asset_category" name="asset_category">
							<option value="1">단일</option>
							<option value="2">이중화</option>
						</select>
					</label>
					<label class="searchSelect">
						<label class="searchTitle" for="asset_category">직위</label>
						<select id="asset_category" name="asset_category">
							<option value="1">단일</option>
							<option value="2">이중화</option>
						</select>
					</label>
					<label class="searchSelect">
						<label class="searchTitle" for="asset_category">그룹</label>
						<select id="asset_category" name="asset_category">
							<option value="1">단일</option>
							<option value="2">이중화</option>
						</select>
					</label>
				</div>
				<div class="searchWordWrap">
					<div class="searchTitle">검색어</div>
					<div class="searchWordInput">
						<input type="text" id="searchInput" placeholder="검색어를 입력하세요"/>
						<button type="button" id="searchButton" onclick="tableRefresh();">검색</button>
					</div>
				</div>
			</div>
		</div>

		<div class="contentCard">
			<div style='display: flex; justify-content: space-between;'>
				<div>
					<p class="totalCnt" id="userTotalCnt"></p>
				</div>
				<div class="custom-button-wrap">
					<button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
							onclick="userCreate()">추가
						<img src='/images/icon/btn/plus.svg' alt='추가' class='btn-icon'>
					</button>
					<button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
							onclick="userUpdate()">수정
						<img src='/images/icon/btn/check.svg' alt='수정' class='btn-icon'>
					</button>
					<button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
							onclick="userDelete()">삭제
						<img src='/images/icon/btn/minus.svg' alt='삭제' class='btn-icon'>
					</button>
				</div>
			</div>

			<div class="tbl-bootstrap-wrap">
				<table id="userTable"></table>
			</div>
		</div>

	</main>
	<th:block layout:fragment="script">
		<script th:src="@{/assets/vendor/axios/axios.min.js}"></script>
		<script th:src="@{/js/settings/user/view.js}"></script>
	</th:block>
</div>



</html>