<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <main id="main" class="equipment">

        <div class="contentCard">
            <input type="hidden" id="eqp_manage_id" name="eqp_manage_id" th:value="${equipment.eqp_manage_id}"/>

            <!-- 장비분류 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 장비분류</h2>
                </div>
                <div class="tbl-bootstrap-wrap custom-border-top-solid">
                    <table class="table-hover-delete" id="equipmentCategoryTable">
                        <tbody>
                        <tr>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="asset_id" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">자산분류</label></td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="asset_id" name="asset_id" class="form-control" th:value="${equipment.asset_category}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="sub_id" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">세부분류</label></td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="sub_id" name="sub_id" class="form-control" th:value="${equipment.sub_category}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="detail_id" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">상세분류</label></td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="detail_id" name="detail_id" class="form-control" th:value="${equipment.containsKey('detail_category')} ? ${equipment['detail_category']} : ''" readonly/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 장비운영정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 장비운영정보</h2>
                </div>
                <div class="tbl-bootstrap-wrap custom-border-top-solid">
                    <table class="table-hover-delete">
                        <tbody>
                        <tr>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="network_operation_type" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영구분</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="network_operation_type" name="network_operation_type" class="form-control" th:value="${equipment.network_operation_type == '1' ? '인터넷망' : (equipment.network_operation_type == '2' ? '업무망' : '운영망')}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="operating_status" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영상태</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="operating_status" name="operating_status" class="form-control" th:value="${equipment.operating_status == '1' ? '사용' : '정지'}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per"></td>
                            <td class="custom-border-left custom-width-15per"></td>
                            <!--
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="primary_operator" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영담당자(정)</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="primary_operator" name="primary_operator" class="form-control" th:value="${equipment.primary_operator}" readonly/>
                            </td>
                            -->
                        </tr>
                        <tr>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="operating_department" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영부서</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="operating_department" name="operating_department" class="form-control" th:value="${equipment.operating_department}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="primary_outsourced_operator" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영사용자(정)</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="primary_outsourced_operator" name="primary_outsourced_operator" class="form-control" th:value="${equipment.primary_outsourced_operator}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="secondary_outsourced_operator" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영사용자(부)</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="secondary_outsourced_operator" name="secondary_outsourced_operator" class="form-control" th:value="${equipment.secondary_outsourced_operator}" readonly/>
                            </td>
                            <!--
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="secondary_operator" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">운영담당자(부)</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="secondary_operator" name="secondary_operator" class="form-control" th:value="${equipment.secondary_operator}" readonly/>
                            </td>
                            -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 장비기본정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 장비기본정보</h2>
                </div>
                <div class="tbl-bootstrap-wrap custom-border-top-solid">
                    <table class="table-hover-delete">
                        <tbody>
                        <tr>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="m_company" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">관리ID</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="m_company" name="m_company" class="form-control" th:value="${equipment.eqp_manage_id}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="m_company" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">제조사</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="m_company" name="m_company" class="form-control" th:value="${equipment.m_company}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="model_name" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">모델명</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="model_name" name="model_name" class="form-control" th:value="${equipment.model_name}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="eqp_name" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">구성자원명</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="eqp_name" name="eqp_name" class="form-control" th:value="${equipment.eqp_name}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="host_name" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">호스트명</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="host_name" name="host_name" class="form-control" th:value="${equipment.host_name}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="redundancy_config" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">이중화</br>구성여부</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="redundancy_config" name="redundancy_config" class="form-control" th:value="${equipment.redundancy_config == '1' ? '단일' : '이중화'}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="domestic" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">국산여부</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="domestic" name="domestic" class="form-control" th:value="${equipment.domestic == '1' ? '국산' : '외산'}" readonly/>
                            </td>
                            <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                <label for="maintenance_contract_target" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">유지관리</br>계약대상여부</label>
                            </td>
                            <td class="custom-border-left custom-width-15per">
                                <input type="text" id="maintenance_contract_target" name="maintenance_contract_target" class="form-control" th:value="${equipment.maintenance_contract_target == '1' ? 'Y' : 'N'}" readonly/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 장비상세정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 장비상세정보</h2>
                </div>
                <div class="tbl-bootstrap-wrap custom-border-top-solid">
                    <table class="table-hover-delete">
                        <tbody>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="cpu" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">CPU</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="cpu" name="cpu" class="form-control" th:value="${equipment.CPU}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="mem" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">Memory</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="mem" name="mem" class="form-control" th:value="${equipment.MEMORY}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="disk" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">Disk</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="disk" name="disk" class="form-control" th:value="${equipment.DISK}" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="os_version" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">OS</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="os_version" name="os_version" class="form-control" th:value="${equipment.OS}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">IP 주소</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <div class="flex">
                                        <input type="text"
                                               class="form-control custom-width-min-150"
                                               id="ip_address_first"
                                               maxlength="15" th:value="${equipment.containsKey('ip')} ? ${equipment['ip']} : ''" readonly/>
                                        <button type="button"
                                                class="btn btn-outline-secondary custom-btn custom-normal-btn custom-margin-left-10 custom-padding-lr-10"
                                                onclick="ipAddressManage();">
                                            <img src='/images/icon/btn/plus.svg' alt='추가'>
                                        </button>
                                    </div>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="acquisition_cost" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">도입금액</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="acquisition_cost" name="acquisition_cost" class="form-control" th:value="${equipment.acquisition_cost}" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="serial_number" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">시리얼번호</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="serial_number" name="serial_number" class="form-control" th:value="${equipment.serial_number}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="dbrain_number" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">디브레인번호</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="dbrain_number" name="dbrain_number" class="form-control" th:value="${equipment.dbrain_number}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="eol_status" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">단종상태(EOL)</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="date" id="eol_status" name="eol_status" class="form-control" th:value="${equipment.eol_status}" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="eos_status" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">단종상태(EOS)</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="date" id="eos_status" name="eos_status" class="form-control" th:value="${equipment.eos_status}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="installation_units" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">설치좌표(유닛수)</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="number" id="installation_units" name="installation_units" class="form-control" th:value="${equipment.installation_units}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="equipment_size_units" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">장비크기(유닛수)</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="number" id="equipment_size_units" name="equipment_size_units" class="form-control" th:value="${equipment.equipment_size_units}" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="asset_acquisition_date" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">자산취득일자</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="date" id="asset_acquisition_date" name="asset_acquisition_date" class="form-control" th:value="${equipment.asset_acquisition_date}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="installation_coordinates" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">설치좌표(좌표)</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="text" id="installation_coordinates" name="installation_coordinates" class="form-control" th:value="${equipment.installation_coordinates}" readonly/>
                                </td>
                                <td class="custom-background-lightblue custom-border-right custom-width-10per">
                                    <label for="port_cnt" class="custom-margin-left-10 custom-font-weight-500 custom-width-nowrap">포트개수</label>
                                </td>
                                <td class="custom-border-left custom-width-15per">
                                    <input type="number" id="port_cnt" name="port_cnt" class="form-control" th:value="${equipment.port_cnt}" readonly/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 선택된 하드웨어 등록정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 장비연결정보</h2>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: flex-end;">
                        <p class="totalCnt" id="eqpHardwareSelectTotalCnt">총 0건</p>
                    </div>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table id="eqpHardwareSelectTable"></table>
                    </div>
                </div>
            </div>


            <!-- 선택된 소프트웨어 등록정보 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 소프트웨어 등록정보</h2>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: flex-end;">
                        <p class="totalCnt" id="eqpSoftwareSelectTotalCnt">총 0건</p>
                    </div>
                </div>
                <div class="tbl-bootstrap-wrap">
                    <div class="tbl-bootstrap-wrap">
                        <table id="eqpSoftwareSelectTable"></table>
                    </div>
                </div>
            </div>

            <!-- 비고 -->
            <div class="contentCardWrap">
                <div class="contentCardTitle">
                    <h2>▪️ 기타정보</h2>
                </div>
                <div>
                    <textarea id="remark" name="remark" placeholder="입력하세요" style="width: 100%; height: 250px;">[[${equipment.remark}]]</textarea>
                </div>
            </div>


            <div class="contentCardWrap">
                <div class="contentCardButton">
                    <button type="button" class="btn btn-outline-secondary custom-card-btn custom-blue-btn"
                            onclick="updateData()">수정</button>
                    <button type="button" class="btn btn-outline-secondary custom-card-btn custom-blue-btn"
                            onclick="deleteData()">삭제</button>
                    <button type="button" class="btn btn-outline-secondary custom-card-btn custom-normal-btn"
                            onclick="back()">취소</button>
                </div>
            </div>
        </div>
    </main>

    <th:block layout:fragment="script">
        <script th:src="@{/js/eqp/hw/detail.js}"></script>
    </th:block>
</div>

</html>