<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <div layout:fragment="content">

        <main id="main" class="equipment">

            <div class="contentCard">
                <div class="searchChkWrap">
                    <div class="searchChkColumn">
                        <div class="searchTitle">컬럼선택</div>
                        <div class="searchChkLabels">
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChkAll" onchange="searchState('all', this.checked)" checked>
                                <span class="searchChkTitle" >전체</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('host_name', this.checked)" checked>
                                <span class="searchChkTitle" >호스트명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('model_name', this.checked)" checked>
                                <span></span>
                                <span class="searchChkTitle" >모델명</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('m_company', this.checked)" checked>
                                <span class="searchChkTitle" >제조사</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('operating_status', this.checked)" checked>
                                <span class="searchChkTitle" >운영상태</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('operating_department', this.checked)" checked>
                                <span class="searchChkTitle" >운영부서</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('primary_operator', this.checked)" checked>
                                <span class="searchChkTitle" >운영담당자(정)</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('secondary_operator', this.checked)" checked>
                                <span class="searchChkTitle" >운영담당자(부)</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('primary_outsourced_operator', this.checked)" checked>
                                <span class="searchChkTitle" >위탁운영사용자(정)</span>
                            </label>
                            <label class="searchChk">
                                <input type="checkbox" class="selectStateChk" onchange="searchState('secondary_outsourced_operator', this.checked)" checked>
                                <span class="searchChkTitle" >위탁운영사용자(부)</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="searchWrap">
                    <!--
                    <div class="searchSelectWrap">
                        <label class="searchSelect">
                            <label class="searchTitle" for="operating_status">운영상태</label>
                            <select id="operating_status" name="operating_status">
                                <option value="1">사용</option>
                                <option value="2">정지</option>
                            </select>
                        </label>
                        <label class="searchSelect">
                            <label class="searchTitle" for="redundancy_config">이중화구성여부</label>
                            <select id="redundancy_config" name="redundancy_config">
                                <option value="1">단일</option>
                                <option value="2">이중화</option>
                            </select>
                        </label>
                    </div>
                    -->
                    <div class="searchWordWrap">
                        <div class="searchWordInput">
                            <label class="searchTitle" for="searchInput">검색어</label>
                            <input type="text"    class="searchInput" id="searchInput" placeholder="검색어를 입력하세요"/>
                            <button type="button" class="searchButton" onclick="tableRefresh();">검색</button>
                            <button type="button" class="resetButton"  onclick="tableRefresh('reset');">초기화</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentCard">
                <div style='display: flex; justify-content: space-between;'>
                    <div>
                        <p class="totalCnt" id="eqpTotalCnt"></p>
                    </div>
                    <div class="custom-button-wrap">
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="eqpCreate()">추가
                            <img src='/images/icon/btn/plus.svg' alt='추가' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="eqpUpdate()">수정
                            <img src='/images/icon/btn/check.svg' alt='수정' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-normal-btn"
                                onclick="eqpDelete()">삭제
                            <img src='/images/icon/btn/minus.svg' alt='삭제' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-blue-btn"
                                onclick="selectEquipmentDownload()">장비 목록 다운로드
                            <img src='/images/icon/btn/download.svg' alt='다운로드' class='btn-icon'>
                        </button>
                        <button type='button' class="btn btn-outline-secondary custom-btn custom-blue-btn"
                                onclick="excelUpload()">장비 목록 업로드
                            <img src='/images/icon/btn/upload.svg' alt='업로드' class='btn-icon'>
                        </button>
                    </div>
                </div>

                <div class="tbl-bootstrap-wrap">
                    <table id="eqpTable"></table>
                </div>
            </div>

        </main>

        <th:block layout:fragment="script">
            <script th:src="@{/js/eqp/hw/view.js}"></script>
        </th:block>
    </div>


</html>